<!-- TOP HEADER -->
<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/other/sponsor-landing.png')">

    <div class="container text-center">
      <h2 class="main-title">The Team Behind CUSEC</h2>
      <br>
      <p class="main-subtitle">The CUSEC organizers are a team of dedicated student leaders that strive to make tech more accessible to everyone. With a legacy of excellence going back more than 14 years, CUSEC has become a place where technology
        and an undying passion for education
        and learning meet. Meet the team behind the scenes.</p>
      <div class="col-md-12 col-centered">
        <div class="row example-page">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <img src="assets/img/media/cusec-13.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%; margin-top:0;">
          </div>
        </div>
        <a class="btn btn-danger btn-round control" style="color:#FFFFFF;">Meet the Team <i class="fas fa-arrow-circle-down"></i></a>
      </div>
    </div>
  </div>
  <!-- END TOP HEADER -->

  <div class="section">
    <div class="container text-center">
      <div class="row" style="margin: 0 auto">

        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 id="theteam"> The Team</h1>
          <br>
        </div>
        <div class="row">
          <!-- Vinith  -->
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/chair_1.png" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Vinith Suriyakumar</h4>
                    <h6 class="card-title-grey">Co-Chair</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  I'm currently in my fourth year of Biomedical Computing at Queen's University and this year will be my fourth CUSEC! In the tech world, I'm interested in building machine learning algorithms that can make worthwhile recommendations
                  from low amounts of
                  data. I'm a huge fan of music and have seen about 35 different artists in the past four years. A fun fact about me is that I have a 1st degree black belt in karate!
                </p>
              </div>
              <div class="card-footer text-center ">
                <a href="https://twitter.com/VMSuriyakumar" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
                <a href="https://www.linkedin.com/in/vsuriyakumar/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>

          <!-- Seb -->
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/sebastien.jpg" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Sébastien Roy</h4>
                    <h6 class="card-title-grey">Co-Chair</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  Sébastien is currently in his fourth year studying Software Engineering at the University of Ottawa. This will be his fourth CUSEC! In his spare time, he enjoys playing football and loves swing dancing. He is very excited for this
                  year's CUSEC!
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="https://www.linkedin.com/in/sebroy00/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>
        </div>



        <!-- DIRECTORS -->
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 id="theteam">Directors</h1>
          <br>
        </div>

        <div class="row">
          <!-- SEARA  -->
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/s_chen.png" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Seara Chen</h4>
                    <h6 class="card-title-grey">Speakers Team</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  I am a fourth year student studying CS at McGill. Having attended CUSEC twice, I wanted to organize it this time around :D. I enjoy learning and working with things related to applied computer science in language (including NLP,
                  bots, ambient computing
                  etc.), software design, technology accessibility and solving logic puzzles. When I am not making Siri and Cortana talk to each other, I like dancing, learning foreign languages, and French cinema.
                </p>
              </div>
              <div class="card-footer text-center ">
                <a href="https://www.linkedin.com/in/seara-chen-985b29101/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>

          <!-- laura -->
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/l_wea.png" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Laura Wheatley</h4>
                    <h6 class="card-title-grey">Director of Speakers</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  Laura studies Software Engineering at Concordia University. She went to her first CUSEC just a year after she first learned to code when she was very nervous about her place software. Today, she is excited to welcome you to CUSEC
                  2019 and wants you to
                  know that you have a place in tech too. Laura loves painting, caring for plants, and building things.
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="https://www.linkedin.com/in/laurawheatley/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>

          <!-- Ife  -->
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/i_agiri.png" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Ife Agiri</h4>
                    <h6 class="card-title-grey">Director of Promotions</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  I am a 4th year student at uOttawa and I’m taking Computer Science. This will be my 2nd CUSEC but my first time on the team. I am super energetic and pumped to be on team this year!! I love watching shows on Netflix in my spare
                  time as well as playing
                  poker. I also have a passion for videography.
                </p>
              </div>
              <div class="card-footer text-center ">
                <a href="https://plus.google.com/100415395172415530708" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
                <a href="https://www.instagram.com/ife_oa/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-instagram card-title-grey"></i></a>
                <a href="https://www.linkedin.com/in/ife-agiri-833947151/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>

        </div>
        <!-- END OF  FIRST ROW -->

        <!-- 2ND ROW -->
        <div class="row">
          <!-- Anushka  -->
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/a_pal.png" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Anushka Paliwal</h4>
                    <h6 class="card-title-grey">Director of Sponsorship</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  Anushka is a fourth-year student enrolled in Software Engineering with Engineering Management and Entrepreneurship at University of Ottawa. She is very passionate about swimming, reading and dancing. Most of the time you will find
                  her reading novels and
                  sometimes you may even see her studying. She also loves to talk, so if you ever see her around say hi to make her really happy!
                </p>
              </div>
              <div class="card-footer text-center ">
                <a href="https://www.linkedin.com/in/anushka-paliwal/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>

          <!-- Zach -->
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/z_haus.png" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Zach Hauser</h4>
                    <h6 class="card-title-grey">Director of Logistics</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  Zach is a third year computer science student from Carleton University. You can normally find him contributing to open source projects or learning about new technologies. When he's isn't coding or studying, he loves hucking fun
                  sized cliffs in the backcountry,
                  rapping along to Hamilton and counting down the days till the next CUSEC.
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="https://github.com/Zach19" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-github card-title-grey"></i></a>
                <a href="https://www.linkedin.com/in/zach-hauser/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar"><img src="../assets/img/faces/dema.png" alt="..."></a>
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Dema Abu Adas</h4>
                    <h6 class="card-title-grey">Director of Events</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  Hii 👋🏻 I'm Dema -- A third year software engineering student at the University of Guelph, who loves technology and programming. This is my 3rd CUSEC and 2nd time organizing! Can't wait for another awesome CUSEC!
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="https://github.com/de-ma" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-github card-title-grey"></i></a>
                <a href="https://www.linkedin.com/in/dabuadas/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- END OF  2ND ROW -->

        <div class="row">

          <!-- Bernie -->
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a><img src="../assets/img/faces/bernie.png"></a>
              </div>
              <div class="card-body">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title-black">Bernie</h4>
                    <h6 class="card-title-grey">Director of Design</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  Final year student leader graduating with a B.S., Major in Computer Science from Concordia University. Driven by project management, graphic design, and software development. He cares for a small watermelon garden in his spare
                  time. Adept baker, he has
                  become a living bread historian and breadmaker dilettante. Avid traveler, the Bernie has traveled the sevens seas loking for a small island where to deploy docker containers and raise sheeps. Also a strong believer in knowledge
                  sharing
                  and education. 🎓 🖥 🎨 🔥
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="https://twitter.com/berniemaxima" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
                <a href="https://github.com/berniemaxima" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-github card-title-grey"></i></a>
                <a href="https://www.linkedin.com/in/bernardcloutier/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/samira.jpg" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Samira El-Rayyes</h4>
                    <h6 class="card-title-grey">Director of Finance</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  Samira was first exposed to the world of code in grade ten, and she is now a graduated Software Engineering student from the University of Ottawa. After attending her first CUSEC in 2012, she knew that she had to get involved with
                  this awesome event and
                  has been an organizer since. 5 years ago, she handled CUSEC's social media sites and now Samira is the Director of Finance for CUSEC 2019. She is a precious flower bound by no pasturage. How bright she shines is the very foundation
                  of
                  limitless love, and she stands tall as the epitome of kindness and selflessness.
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="https://www.linkedin.com/in/samiraelrayyes/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>

          <!-- Bernie -->
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <!-- <div class="card-avatar">
              <a><img src="../assets/img/faces/bernie.png"></a>
            </div>
            <div class="card-body">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title-black">Bernie Cloutier</h4>
                  <h6 class="card-title-grey">Director of Design</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Final year student leader graduating with a B.S., Major in Computer Science from Concordia University. Driven by project management, graphic design, and software development. A strong believer in knowledge sharing and education. 🎓 🖥 🎨 🔥
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="https://twitter.com/berniemaxima" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="https://github.com/berniemaxima" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-github card-title-grey"></i></a>
              <a href="https://www.linkedin.com/in/bernardcloutier/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div> -->
            </div>
          </div>

        </div>



        <h2>HEAD DELEGATES</h2>
        <br>
        <!-- 3rd ROW -->
        <div class="row">
          <!-- Raiyan  -->
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/raiyan_q.png" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Raiyan Quaium</h4>
                    <h6 class="card-title-grey">Head Delegate for Carleton University</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  I am Raiyan and I am in my final year of computer science at Carleton. I am always trying to learn new technologies and ideas especially in business intelligence and data analytics. Outside of computer science I am usually drinking
                  coffee, trying new
                  food or going to the gym. This is my first time at CUSEC and I look forward to representing Carleton as well as meeting all of you!
                </p>
              </div>
              <div class="card-footer text-center ">
                <a href="https://www.linkedin.com/in/raiyan-quaium-56a1a311a/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>

          <!-- MIVIA -->
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/m_li.png" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Mivia Li</h4>
                    <h6 class="card-title-grey">Head Delegate of UWaterloo</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  Heeyaw! I am a Computer Engineering students at University of Waterloo and I am super excited attend CUSEC again as a head delegate this year! I am highly motivated and have strong curiosity towards new adventures. My non-tech
                  interests include photography,
                  backpacking, skydiving, hiking, camping, etc, but I am currently getting addicted to 3D printing and designing nerf guns. Would love to exchange interesting ideas and keep innovating. It would be super cool to be a real life Ninja,
                  isn’t
                  it?
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="https://www.facebook.com/linghan.li.96" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-facebook card-title-grey"></i></a>
                <a href="https://www.linkedin.com/in/linghan-li/" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>

          <!-- Sawaiba -->
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar"><img src="../assets/img/faces/s_sial.png" alt="..."></a>
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Sawaiba Sial</h4>
                    <h6 class="card-title-grey">Head Delegate of University of Guelph</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  Sawaiba is a third year Software Engineering student from the University of Guelph. She had the most spectacular experience attending CUSEC earlier this year and is thrilled to be on the organizing team for the upcoming conference.
                  When she’s not busy
                  “hacking the government” (what my friends think when I open up a terminal), you will often find her rewatching The Office series next to a fat tub of Mint Chocolate Ice cream. 🤤
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="https://www.instagram.com/sawaiba_s/?hl=en" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-instagram card-title-grey"></i></a>
                <a href="https://www.linkedin.com/in/sawaibasial/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- END OF  3rd ROW -->


        <div class="row">
          <!-- Raiyan  -->
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/n_saeidi.png" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Niyousha Saeidi</h4>
                    <h6 class="card-title-grey">Head Delegate for Queens University</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  I am Niyousha and I am in my third year of computing at Queen's university. I love UX and UI and I am hoping to one day pursue that and have my own startup. Aside from computing, visual arts are my thing. I love gymming and I have
                  a few jobs at Queen's.
                  I loved attending CUSEC in the past 2 years and cannot wait to represent Queen's and meet people from different schools this year.
                </p>
              </div>
              <div class="card-footer text-center ">
                <a href="https://niyoushasaeidi.wixsite.com/niyoushasaeidi" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/julia-a.png" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Julia Athayde</h4>
                    <h6 class="card-title-grey">Head Delegate for University of Manitoba</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  Hi, I'm Julia, I'm in my fourth year of computer science at the University of Manitoba with a specialization in HCI and graphics. This will be my third time at CUSEC and I'm super pumped to be helping the organizers this year! I
                  love working with different
                  technologies to create things that are not only useful but also fun and easy to interact with. Before starting my degree in computer science, I was working on environmental sciences, so a lot of my spare time is spent in nature
                  (climbing
                  mountains and swimming in lakes is highly productive I think) and finding ways that technology can help solve environmental issues.
                </p>
              </div>
              <div class="card-footer text-center ">
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/olivier-g.png" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Olivier Gamache</h4>
                    <h6 class="card-title-grey">Head Delegate for Université Laval</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  Olivier is in his third year as a student at Université Laval in Software Engineering. Between his side projects in Web Development and his everlasting nights spent studying, he's probably trying to fix his Arch Linux setup. Cusec
                  2019 will be his first
                  and he can't wait to be a part of it.
                </p>
              </div>
              <div class="card-footer text-center ">
                <a href="https://www.linkedin.com/in/olivier-gamache-1337420" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <!-- Mila  -->
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/mila.png" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Mila Roisin</h4>
                    <h6 class="card-title-grey">Head Delegate for Concordia University</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  Mila is a third-year software engineering student at Concordia University. She’s passionate about social justice, health, innovation, technology and the intersecting relationships between these fields. In her previous career, she
                  worked in several local
                  community healthcare organizations and NGOs working in the Sundarban jungles in women’s health before delving forth in the world of software engineering. In her spare time, she enjoys motorcycle rides, reading all things geek and
                  pop
                  culture related, tending to her plants, salsa dancing and jamming on bongos.
                </p>
              </div>
              <div class="card-footer text-center ">
                <a href="https://www.linkedin.com/in/milaroisin/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/v_diec.png" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Vivian Diec</h4>
                    <h6 class="card-title-grey">Head Delegate for University of Ottawa</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  Hey there! My name is Vivian and I’m a currently in my second year of software engineering at uOttawa! I attended CUSEC for the first time last year, and I’m really excited to be on the team this year! In my free time, I love going
                  to concerts, travelling
                  and getting bubble tea! Can’t wait to meet you all!
                </p>
              </div>
              <div class="card-footer text-center ">
                <a href="https://www.instagram.com/viviandiec/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-instagram card-title-grey"></i></a>
                <a href="https://www.linkedin.com/in/vivian-diec/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div>



          <!-- <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <img src="../assets/img/faces/olivier-g.png" alt="...">
              </div>
              <div class="card-body">
                <a>
                  <div class="author">
                    <h4 class="card-title-black">Olivier Gamache</h4>
                    <h6 class="card-title-grey">Head Delegate for Université Laval</h6>
                  </div>
                </a>
                <p class="card-title-grey text-center">
                  Olivier is in his third year as a student at Université Laval in Software Engineering. Between his side projects in Web Development and his everlasting nights spent studying, he's probably trying to fix his Arch Linux setup. Cusec 2019 will be his first
                  and he can't wait to be a part of it.
                </p>
              </div>
              <div class="card-footer text-center ">
                <a href="https://www.linkedin.com/in/olivier-gamache-1337420" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              </div>
            </div>
          </div> -->
        </div>




      </div>
    </div>
  </div>