.main-title {
  /* padding-bottom: 8%; */
}

.main-subtitle {
  padding-bottom: 8%;
}

.card-title-black {
  color: #000;
}

.card-title-grey {
  color: #4e4e4e;
}

h4 {
  color: #000;
}

h6 {
  color: #000;
}
