.main-title {
  /* padding-bottom: 8%; */
}

.main-subtitle {
  padding-bottom: 1%;
}

.card-title-black {
  color: #000;
}

.white-font {
  color: #FFF;
}

.card-title-grey {
  color: #4e4e4e;
}

h4 {
  color: #000;
}

h6 {
  color: #000;
}

.col-centered {
  display: block;
  margin: 0 auto;
}

#frame {
  /* position: relative; */
  display: block;
  /* margin-left: 25%; */
  margin: auto;
  /* border: solid 5px #555; */
  max-width: 615px;
  /* margin: 40px auto; */
  /* box-shadow: -3px -3px 12px #999; */
}

#border {
  position: relative;
  padding: 0;
  margin: 0;
  border: solid 10px white;
  /* box-shadow: -3px -3px 12px #999; */
}
