<!-- TOP HEADER -->
<div class="wrapper">
  <div class="page-header section-dark" style="background-color: #eae7dc">

    <div class="container text-center">

      <h2 class="main-title">The Team Behind CUSEC</h2>
      <br>
      <p class="main-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <br>

      <div class="col-md-12 col-centered">
        <div id="frame" class="img-col">
          <div id="border">
            <img src="assets/img/cusec-team.jpg" width="300" height="200" alt="Handsome Devils Not loading...">
          </div>
        </div>
      </div>


      <br>
      <a class="btn btn-danger btn-round control" style="color:#FFFFFF;">Meet the Team <i class="fas fa-arrow-circle-down"></i></a>

    </div>
  </div>
</div>
<!-- END TOP HEADER -->

<div class="section">
  <div class="container text-center">
    <div class="row">
      <h1 id="theteam"> The Team</h1>

      <div class="row">
        <!-- Vinith  -->
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/chair_1.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Vinith Suriyakumar</h4>
                  <h6 class="card-title-grey">Co-Chair</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                I'm currently in my fourth year of Biomedical Computing at Queen's University and this year will be my fourth CUSEC! In the tech world, I'm interested in building machine learning algorithms that can make worthwhile recommendations from low amounts of
                data. I'm a huge fan of music and have seen about 35 different artists in the past four years. A fun fact about me is that I have a 1st degree black belt in karate!
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/VMSuriyakumar" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="https://www.linkedin.com/in/vsuriyakumar/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- Seb -->
        <!-- <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/l_wead.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Seb</h4>
                  <h6 class="card-title-grey">Co-Chair</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="https://www.linkedin.com/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div> -->


      </div>



      <!-- DIRECTORS -->
      <h2>DIRECTORS</h2>
      <div class="row">
        <!-- SEARA  -->
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/s_chen.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Seara Chen</h4>
                  <h6 class="card-title-grey">Speakers Team</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                I am a fourth year student studying CS at McGill. Having attended CUSEC twice, I wanted to organize it this time around :D. I enjoy learning and working with things related to applied computer science in language (including NLP, bots, ambient computing
                etc.), software design, technology accessibility and solving logic puzzles. When I am not making Siri and Cortana talk to each other, I like dancing, learning foreign languages, and French cinema. Feel free to reach out if you want to
                connect with me!
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://www.linkedin.com/in/seara-chen-985b29101/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- laura -->
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/l_wea.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Laura Weathley</h4>
                  <h6 class="card-title-grey">Director of Speakers</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Laura studies Software Engineering at Concordia University. She went to her first CUSEC just a year after she first learned to code when she was very nervous about her place software. Today, she is excited to welcome you to CUSEC 2019 and wants you to
                know that you have a place in tech too. Laura loves painting, caring for plants, and building things.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="https://www.linkedin.com/in/laurawheatley/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- filler -->
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a><img src="../assets/img/faces/joeblo"></a>
            </div>
            <div class="card-body">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title-black">Kenny</h4>
                  <h6 class="card-title-grey">KGB Agent</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>

      </div>


      <!-- END OF  FIRST ROW -->

      <!-- 2ND ROW -->
      <div class="row">
        <!-- Anushka  -->
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/a_pal.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Anushka Paliwal</h4>
                  <h6 class="card-title-grey">Director of Sponsorship</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Anushka is a fourth-year student enrolled in Software Engineering with Engineering Management and Entrepreneurship at University of Ottawa. She is very passionate about swimming, reading and dancing. Most of the time you will find her reading novels and
                sometimes you may even see her studying. She also loves to talk, so if you ever see her around say hi to make her really happy!
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://www.linkedin.com/in/anushka-paliwal/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- Zach -->
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/z_haus.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Zach Hauser</h4>
                  <h6 class="card-title-grey">Director of Logistics</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Zach is a third year computer science student from Carleton University. You can normally find him contributing to open source projects or learning about new technologies. When he's isn't coding or studying, he loves hucking fun sized cliffs in the backcountry,
                rapping along to Hamilton and counting down the days till the next CUSEC.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="https://github.com/Zach19" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-github card-title-grey"></i></a>
              <a href="https://www.linkedin.com/in/zach-hauser/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/joeblo" alt="..."></a>
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Kenny</h4>
                  <h6 class="card-title-grey">KGB Agent</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF  2ND ROW -->


      <h2>HEAD DELEGATES</h2>
      <br>
      <!-- 3rd ROW -->
      <div class="row">
        <!-- Raiyan  -->
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/raiyan_q.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Raiyan Quaium</h4>
                  <h6 class="card-title-grey">Head Delegate for Carleton University</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                I am Raiyan and I am in my final year of computer science at Carleton. I am always trying to learn new technologies and ideas especially in business intelligence and data analytics. Outside of computer science I am usually drinking coffee, trying new
                food or going to the gym. This is my first time at CUSEC and I look forward to representing Carleton as well as meeting all of you!
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://www.linkedin.com/in/raiyan-quaium-56a1a311a/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- MIVIA -->
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/m_li.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Mivia Li</h4>
                  <h6 class="card-title-grey">Head Delegate of UWaterloo</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Heeyaw! I am a Computer Engineering students at University of Waterloo and I am super excited attend CUSEC again as a head delegate this year! I am highly motivated and have strong curiosity towards new adventures. My non-tech interests include photography,
                backpacking, skydiving, hiking, camping, etc, but I am currently getting addicted to 3D printing and designing nerf guns. Would love to exchange interesting ideas and keep innovating. It would be super cool to be a real life Ninja, isn’t
                it?
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="https://www.facebook.com/linghan.li.96" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-facebook card-title-grey"></i></a>
              <a href="https://www.linkedin.com/in/linghan-li/" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/joeblo" alt="..."></a>
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Kenny</h4>
                  <h6 class="card-title-grey">KGB Agent</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF  3rd ROW -->






    </div>
  </div>
</div>