<!-- TOP HEADER -->
<div class="wrapper">
  <div class="page-header section-dark" style="background-color: #eae7dc">

    <div class="container text-center">

      <h2 class="main-title">The Team Behind CUSEC</h2>
      <br>
      <p class="main-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <br>


      <!-- <div class="col-lg-12 "> -->
      <div class="col-md-12 col-centered">

        <!-- <div id="border">

        </div> -->
        <div id="frame" class="img-col">
          <div id="border">
            <img src="assets/img/cusec-team.jpg" width="300" height="200" alt="Handsome Devils Not loading...">
          </div>
        </div>
      </div>
      <!-- </div> -->


      <br>
      <a class="btn btn-danger btn-round control" style="color:#FFFFFF;">Meet the Team <i class="fas fa-arrow-circle-down"></i></a>

    </div>
  </div>
</div>
<!-- END TOP HEADER -->

<div class="section">
  <div class="container text-center">
    <div class="row">
      <h1 id="theteam"> The Team</h1>
      <br>



      <!-- FIRST ROW -->
      <div class="row">
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
            </div>
            <div class="card-body">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title-black">Joe Bloe</h4>
                  <h6 class="card-title-grey">Product Manager</h6>
                </div>
              </a>
              <p class="card-title-grey text-center ">
                Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
            </div>
            <div class="card-body">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title-black">Sophie West</h4>
                  <h6 class="card-title-grey">Designer</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
            </div>
            <div class="card-body">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title-black">Robert Orben</h4>
                  <h6 class="card-title-grey">Developer</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF  FIRST ROW -->

      <!-- FIRST ROW -->
      <div class="row">
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
            </div>
            <div class="card-body">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title-black">Joe Bloe</h4>
                  <h6 class="card-title-grey">Product Manager</h6>
                </div>
              </a>
              <p class="card-title-grey text-center ">
                Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
            </div>
            <div class="card-body">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title-black">Sophie West</h4>
                  <h6 class="card-title-grey">Designer</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
            </div>
            <div class="card-body">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title-black">Robert Orben</h4>
                  <h6 class="card-title-grey">Developer</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF  FIRST ROW -->






      <!-- FIRST ROW -->
      <div class="row">
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
            </div>
            <div class="card-body">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title-black">Joe Bloe</h4>
                  <h6 class="card-title-grey">Product Manager</h6>
                </div>
              </a>
              <p class="card-title-grey text-center ">
                Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
            </div>
            <div class="card-body">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title-black">Sophie West</h4>
                  <h6 class="card-title-grey">Designer</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
            </div>
            <div class="card-body">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title-black">Robert Orben</h4>
                  <h6 class="card-title-grey">Developer</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF  FIRST ROW -->





      <!-- FIRST ROW -->
      <div class="row">
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
            </div>
            <div class="card-body">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title-black">Joe Bloe</h4>
                  <h6 class="card-title-grey">Product Manager</h6>
                </div>
              </a>
              <p class="card-title-grey text-center ">
                Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
            </div>
            <div class="card-body">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title-black">Sophie West</h4>
                  <h6 class="card-title-grey">Designer</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
            </div>
            <div class="card-body">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title-black">Robert Orben</h4>
                  <h6 class="card-title-grey">Developer</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-google-plus card-title-grey"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF  FIRST ROW -->






    </div>
  </div>
</div>