<div class="section">
  <div class="container text-center">
    <br>
    <h1 id="title">Workshops</h1>

    <!-- kinaxis -->
    <div class="row workshop-item">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <img src="assets/img/companies/current/p/kinaxis/kinaxis.png" alt="Rounded Image" class="img-rounded-w img-responsive">
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-12">
        <p class="title text-center"><strong>Introduction to Git</strong></p>
        <p>If you are developing software, you need to be using version control. Unfortunately, despite being critical in the workplace, this important topic is often presented as an after-thought in school. In this workshop, you will get an
          introduction to the world of version control using Git. We will discuss the what, why, how, and when of commits, branches, merges, and other important practical aspects of using Git day-to-day. Participants are encouraged to bring a laptop
          with Git pre-installed for some hands-on exercises.</p>
      </div>
    </div>
    <hr>

    <!-- cse -->
    <div class="row workshop-item">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <img src="assets/img/companies/current/g/cse/cse.png" alt="Rounded Image" class="img-rounded-w img-responsive">
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-12">
        <p class="title"><strong>Flying Python</strong></p>
        <p>This presentation will look into the inner mechanics of Python in an attempt to suggest a different approach to writing Python code. In doing so, we will offer suggestions about how to make your Python code perform better. The original
          idea for this presentation stems from a passion for code performance and reverse engineering. While there is a wealth of information on how to make C or C++ code faster, there is generally a lack of deep understanding of the Python
          interpreter preventing Python programmers from achieving what we call “conscious programming”. To elaborate, programmers often have to resort to using known best practices, sometimes without knowing why a given technique is faster, or more
          advisable, than another one. Obviously, using best practices is often enough. However it is our opinion that in order to own the craft of programming, programmers should be able to obtain and understand second level knowledge about how
          their tools and computer actually execute the code they are writing. In this talk we will use a case well-known in the Python community: List comprehension vs. Loop for list initialization. However, we will explore it from the point of
          view of a reverse engineer and treat the code the same way C code would be treated. In doing so, we will question the way code is executed and suggest alternative or interesting angles to apply to programming in Python. It should also be
          noted that in this talk, we purposefully chose to present the subject in the context of the current environmental crisis. Indeed, more performant code would run faster thus use less power to do the same job, potentially resulting in
          impressive savings in power consumption.</p>
      </div>
    </div>
    <hr>

    <!-- windriver -->
    <div class="row workshop-item">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <img src="assets/img/companies/current/g/windriver/windriver.png" alt="Rounded Image" class="img-rounded-w img-responsive">
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-12">
        <p class="title"><strong>Designing Software that Runs in 2 Billion Devices</strong></p>
        <p>For nearly 40 years, Wind River software has enabled digital transformation across critical infrastructure sectors and our technology is found in nearly 2 billion devices globally plus a few that are out of this world. Learn how we’re
          helping a wide range of industries accelerate their evolution from automated to autonomous systems and ensuring the software-defined world of the future is a safe, secure reality. This workshop will include a look inside a Kubernetes
          platform connected to devices on the Edge and exploring the world of linux programming. For those interested in getting the most from this session arrive with an internet enabled laptop.</p>
      </div>
    </div>
    <hr>

    <!-- rbc -->
    <div class="row workshop-item">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <img src="assets/img/companies/current/g/rbc/rbc.png" alt="Rounded Image" class="img-rounded-w img-responsive">
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-12">
        <p class="title"><strong>RBC Workshop</strong></p>
        <p>Come check out RBC's workshop! You'll have a chance to tackle everyday technical problems faced by the developers at one of the biggest companies in Canada. Leave your computers behind and bring your best thinking hat as we cooperatively
          tackle three open-ended problems with modern techniques. A growth mindset, team-working abilities, and attitude to learn will get you a chance to win some really cool prizes!</p>
      </div>
    </div>
    <hr>

    <!-- yelp -->
    <div class="row workshop-item">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <img src="assets/img/companies/current/g/yelp/yelp.png" alt="Rounded Image" class="img-rounded-w img-responsive">
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-12">
        <p class="title"><strong>Hack your Python</strong></p>
        <p>In this workshop, we're getting our hands dirty and using C to build an extension for the Python interpreter. Why would we do this? Writing critical parts of our software in a high-performance language has enabled us to supercharge our
          backend and allowed us to access parts of the interpreter we wouldn't have been able to access in plain Python. We'll first build a small "classic" extension. Then we'll dive right in and tweak the behaviour of Python's garbage collector.
          Knowledge of C/C++ is not required for the first part of the talk but is recommended for the second part. Requirements: A terminal with access to Python 3 and a C compiler (usually gcc), along with this skeleton repo provided here at a
          later date from which we'll work.</p>
      </div>
    </div>
    <hr>

    <!-- shopify -->
    <div class="row workshop-item">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <img src="assets/img/companies/current/g/shopify/shopify.png" alt="Rounded Image" class="img-rounded-w img-responsive">
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-12">
        <p class="title"><strong>Introduction to Ruby</strong></p>
        <p>Ruby is a phenomenally versatile language that can be useful in a ton of different situations. It's also just enjoyable to write. This workshop will get you started with everything you need to know to get started with programming in Ruby</p>
      </div>
    </div>
    <hr>

  </div>
</div>