<div class="section">
  <div class="container">
    <div class="row">


    </div>
  </div>
</div>

<div class="section">
  <div class="container text-center">
    <div class="row" style="margin: 0 auto">

      <div class="col-md-8 ml-auto mr-auto text-center">
        <h1 id="theteam"> Keynote Speakers</h1>
        <br>
      </div>

      <div class="row">
        <!-- MATT LEE -->
        <div class="col-md-12">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/speaker_mattl.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Matt Lee</h4>
                  <h6 class="card-title-grey">@mattl</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Matt Lee is a British artist and filmmaker based in Boston, Massachusetts. Matt has been involved in the free and open source software community since the late 1990s. He wrote and produced the short film, "Happy Birthday to GNU"
                starring Stephen Fry,
                and between 2007 and 2012 he worked for the Free Software Foundation, running political campaigns against DRM and organizing people to come together at the FSF's annual LibrePlanet conference. While at the FSF, he started the GNU FM
                and
                GNU social projects, which power both the nascent music community, Libre.fm and pioneered the federated social networking community that has since exploded due to Mastodon. Since the FSF, Matt ran technology at Creative Commons for a
                few
                years and was an early employee at GitLab. In 2017, he worked on the W3C's Web Platform Tests project. Most recently he has been traveling the world, meeting free and open source software developers and through the Handshake project
                giving
                away approximately $9 million USD to groups like EFF, FSF, OpenBSD, Creative Commons and IndieWeb. He can be found in full "existential comedian" mode on Twitter, @mattl
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/mattl" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <!-- <a href="https://www.linkedin.com/in/vsuriyakumar/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a> -->
            </div>
          </div>
        </div>

        <!-- Sarah Kraynick -->
        <div class="col-md-12">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/s_kraynick.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Sarah Kraynick</h4>
                  <h6 class="card-title-grey">@nomad_soc_eng</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Sarah Kraynick is a self-taught hacker and software engineer who spent over a decade in the development world working on backends, android, and IoT. She started her career in the test/qa arena before switching to pure development.
                She continues to develop for open source initiatives, most recently Mycroft.ai where she helps lead the android “team”, while she runs her cyber security consultancy that specializes in social engineering and physical pen tests. She
                was a co-founder on a medical start-up (which is now defunct) and Hacking Health Berlin, which is still going strong with an army of new and energetic set of volunteers. She splits her time between her “off-grid” acreage in North
                Central Saskatchewan, Vancouver and various places around Europe.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/nomad_soc_eng" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="https://www.linkedin.com/in/sarahkraynick/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              <a href="https://github.com/skraynick" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-github card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- Eyra Abraham -->
        <div class="col-md-12">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/eyra.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Eyra Abraham</h4>
                  <h6 class="card-title-grey">@lisnenwear</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Eyra Abraham is a Founder/CEO of Lisnen, a Toronto-based Startup which develops technology for the Deaf and Hard of Hearing. Eyra graduated from McGill University with a Bachelor of Science in Computer Science. She pivoted her career
                into marketing and communications, but her love for technology and innovation drew her back to founding her company, which has a mission to empower people to overcome challenges.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/lisnenwear" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="www.linkedin.com/in/eyraabraham" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              <a href="www.lisnen.com" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- Yasmin Alameddine -->
        <div class="col-md-12">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/yasmin.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Yasmin Alameddine</h4>
                  <!-- <h6 class="card-title-grey">@nomad_soc_eng</h6> -->
                </div>
              </a>
              <p class="card-title-grey text-center">
                Yasmin Alameddine graduated from Cornell University in 2016. After graduating, Yasmin worked as an Analytics Business Partner Manager at IBM. She is currently a Partner Manager specializing in content at Shopify. When she is not
                working Yasmin dedicates time to empowering women in the tech industry through her podcast Witty: Women In Tech Talk to Yaz; volunteering for various organizations like SheEO, the Anita Borg Institute, IBMStem4Girls; and, moderating
                panels on female leadership and entrepreneurship.
              </p>
            </div>
            <div class="card-footer text-center ">
              <!-- <a href="https://twitter.com/nomad_soc_eng" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a> -->
              <a href="https://www.linkedin.com/in/yasmin-alameddine-57a74176" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              <!-- <a href="https://github.com/skraynick" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-github card-title-grey"></i></a> -->
            </div>
          </div>
        </div>


        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 id="theteam"> Invited Speakers</h1>
          <br>
        </div>

        <!-- Jin Guo -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/speaker_jinguo.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Jin Guo</h4>
                  <h6 class="card-title-grey">@Jin_LC_Guo </h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Jin L.C. Guo is an Assistant Professor in the School of Computer Science at McGill University. She received her Ph.D. degree in Computer Science and Engineering from the University of Notre Dame. Her research interests lie in the
                interdisciplinary area
                of Software Engineering and Artificial Intelligence, and specialize in software traceability. Her work aims to facilitate automated SE tasks such as context-aware information retrieval and project Q&A. Her recent research focuses on
                dynamically
                constructing connections between heterogenous software artifacts, mining domain knowledge from those artifacts, and making inference about the semantics of artifact connections.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/Jin_LC_Guo" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="http://jguo-web.com" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- tobias Coatzee -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/tobias.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Tobias Coetzee</h4>
                  <h6 class="card-title-grey">@tobiascode</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Tobias tries to stay on the cutting edge of Java and Cloud technologies. Holding a Masters Degree in Software Engineering he is responsible for platform engineering and DevOps across all commercial banking platforms at RBC. In his
                role as Senior Engineering Manager he codes, is involved in architecture, builds DevOps pipelines, experiments with and introduces new technologies to banking projects and mentors RBC developers in best practices. When he is not
                learning something new he likes to see how far he can run before his legs fall off in an attempt to better his previous marathon time!
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/tobiascode" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="https://tobiascode.com/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- Myriam Jessier -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/speaker_myriam.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Myriam Jessier</h4>
                  <h6 class="card-title-grey">@myriamjessier</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Myriam Jessier is a native French speaker, a perfectly fluent English speaker, a decent Hungarian conversationalist and can fake her way through a Spanish or JavaScript conversation. She travels the world with her mini wiener dog in
                search of the next
                adventure. She loves playing with algorithms and messing with search engines so much that she turned it into a career. Her claim to fame: she was allowed once to operate heavy machinery on her own.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/myriamjessier" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="https://www.myriamjessier.com/about-me/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- Maxwell Elendt -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/speaker_maxwell.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Maxwell Elendt</h4>
                  <h6 class="card-title-grey">@xelendt</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Maxwell is a fourth year computer science student at the University of Waterloo with a passion for computer graphics. He has worked at companies such as Christie Digital, SideFX Software, Felix & Paul Studios and most recently The
                Mill. His favorite open
                source libraries are OpenCV and Three.js. Outside of work, he loves to play volleyball, is a member of UWaterloo's Autonomous Car Design Team, and has volunteered on committees for ACM SIGGRAPH and SIGGRAPH Asia conferences.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://xelendt.com" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/kim.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Kim Noel</h4>
                  <h6 class="card-title-grey">@NoelKM</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Native Montrealer working on enhacing the local developer community and supporting the future developers of this world. Currently a Community Engineer Manager at Auth0 helping developers world wide implement authentication and
                authorization in their applications. Graduated from Concordia University and previous CUSEC organizer, back now as a speaker!
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/NoelKM" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="https://kimcodesin.space" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- Pierre-luc Maheu -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/speaker_plmaheu.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Pierre-Luc Maheu</h4>
                  <h6 class="card-title-grey">@plmaheu</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Pierre-Luc Maheu is a software developer who worked in VoIP, cloud hosting, e-commerce and bike sharing for the past nine years. He currently works at PBSC Urban Solutions, a bike sharing solutions provider. He is also an editor at
                InfoQ, writing about
                .NET. His current topics of interest are monitoring, performance/scaling and Akka. In his free time, he likes to clear his mind doing indoor climbing, Animal Flow and Kendo.

              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/plmaheu" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="https://www.infoq.com/profile/Pierre~Luc-Maheu" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>