<div class="section">
  <div class="container">
    <div class="row">


    </div>
  </div>
</div>

<div class="section">
  <div class="container text-center">
    <div class="row" style="margin: 0 auto">

      <div class="col-md-8 ml-auto mr-auto text-center">
        <h1 id="theteam"> Keynote Speakers</h1>
        <br>
      </div>

      <div class="row">

        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/ticala.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Gelu Ticala</h4>
                  <h6 class="card-title-grey"></h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                As Vice President of R&D at Kinaxis, Gelu Ticala is responsible for overseeing the architecture, design, development and testing of RapidResponse, a SaaS software product. He also works closely with product management and solutions
                development teams to deliver high-quality product releases to customers.
                Since joining Kinaxis in 2000 as an analytics software developer, Gelu has held leadership roles on several development teams, including Analytics, Applications, Integration, Quality Assurance and Solutions Performance.
                Given his experience, Gelu has established a broad and deep understanding of technology and business (supply chain domain).
                Gelu is an avid reader of everything that has to do with technology advancements, the future of
                education, workplace and society. One of his favorite authors is Yuval Noah Harari.
                Gelu holds a Bachelor of Science, Computer Science from the Technical University of Cluj-Napoca, is a certified Scrum Master and has over 20 years of experience in the software industry.
              </p>
            </div>
            <div class="card-footer text-center ">
              <!-- <a href="https://twitter.com/mattl" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a> -->
              <a href="https://www.linkedin.com/in/gelu-ticala-a509982" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>



        <!-- MATT LEE -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/speaker_mattl.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Matt Lee</h4>
                  <h6 class="card-title-grey">@mattl</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Matt Lee is a British artist and filmmaker based in Boston, Massachusetts. Matt has been involved in the free and open source software community since the late 1990s. He wrote and produced the short film, "Happy Birthday to GNU"
                starring Stephen Fry,
                and between 2007 and 2012 he worked for the Free Software Foundation, running political campaigns against DRM and organizing people to come together at the FSF's annual LibrePlanet conference. While at the FSF, he started the GNU FM
                and
                GNU social projects, which power both the nascent music community, Libre.fm and pioneered the federated social networking community that has since exploded due to Mastodon. Since the FSF, Matt ran technology at Creative Commons for a
                few
                years and was an early employee at GitLab. In 2017, he worked on the W3C's Web Platform Tests project. Most recently he has been traveling the world, meeting free and open source software developers and through the Handshake project
                giving
                away approximately $9 million USD to groups like EFF, FSF, OpenBSD, Creative Commons and IndieWeb. He can be found in full "existential comedian" mode on Twitter, @mattl
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/mattl" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <!-- <a href="https://www.linkedin.com/in/vsuriyakumar/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a> -->
            </div>
          </div>
        </div>

        <!-- Sarah Kraynick -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/s_kraynick.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Sarah Kraynick</h4>
                  <h6 class="card-title-grey">@nomad_soc_eng</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Sarah Kraynick is a self-taught hacker and software engineer who spent over a decade in the development world working on backends, android, and IoT. She started her career in the test/qa arena before switching to pure development.
                She continues to develop for open source initiatives, most recently Mycroft.ai where she helps lead the android “team”, while she runs her cyber security consultancy that specializes in social engineering and physical pen tests. She
                was a co-founder on a medical start-up (which is now defunct) and Hacking Health Berlin, which is still going strong with an army of new and energetic set of volunteers. She splits her time between her “off-grid” acreage in North
                Central Saskatchewan, Vancouver and various places around Europe.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/nomad_soc_eng" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="https://www.linkedin.com/in/sarahkraynick/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              <a href="https://github.com/skraynick" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-github card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- Eyra Abraham -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/eyra.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Eyra Abraham</h4>
                  <h6 class="card-title-grey">@lisnenwear</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Eyra Abraham is a Founder/CEO of Lisnen, a Toronto-based Startup which develops technology for the Deaf and Hard of Hearing. Eyra graduated from McGill University with a Bachelor of Science in Computer Science. She pivoted her career
                into marketing and communications, but her love for technology and innovation drew her back to founding her company, which has a mission to empower people to overcome challenges.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/lisnenwear" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="www.linkedin.com/in/eyraabraham" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              <a href="www.lisnen.com" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- Yasmin Alameddine -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/yasmin.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Yasmin Alameddine</h4>
                  <!-- <h6 class="card-title-grey">@nomad_soc_eng</h6> -->
                </div>
              </a>
              <p class="card-title-grey text-center">
                Yasmin Alameddine graduated from Cornell University in 2016. After graduating, Yasmin worked as an Analytics Business Partner Manager at IBM. She is currently a Partner Manager specializing in content at Shopify. When she is not
                working Yasmin dedicates time to empowering women in the tech industry through her podcast Witty: Women In Tech Talk to Yaz; volunteering for various organizations like SheEO, the Anita Borg Institute, IBMStem4Girls; and, moderating
                panels on female leadership and entrepreneurship.
              </p>
            </div>
            <div class="card-footer text-center ">
              <!-- <a href="https://twitter.com/nomad_soc_eng" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a> -->
              <a href="https://www.linkedin.com/in/yasmin-alameddine-57a74176" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              <!-- <a href="https://github.com/skraynick" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-github card-title-grey"></i></a> -->
            </div>
          </div>
        </div>

        <!-- Amanda Cox  -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/amanda.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Amanda Cox</h4>
                  <h6 class="card-title-grey">@amandacox</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Amanda Cox runs The Upshot, a small analytical department at the New York Times. Before that, she spent about a decade on the graphics desk. She has a master's degree in statistics from the University of Washington.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://www.linkedin.com/in/yasmin-alameddine-57a74176" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>




        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 id="theteam"> Invited Speakers</h1>
          <br>
        </div>

        <!-- Jin Guo -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/speaker_jinguo.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Jin Guo</h4>
                  <h6 class="card-title-grey">@Jin_LC_Guo </h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Jin L.C. Guo is an Assistant Professor in the School of Computer Science at McGill University. She received her Ph.D. degree in Computer Science and Engineering from the University of Notre Dame. Her research interests lie in the
                interdisciplinary area
                of Software Engineering and Artificial Intelligence, and specialize in software traceability. Her work aims to facilitate automated SE tasks such as context-aware information retrieval and project Q&A. Her recent research focuses on
                dynamically
                constructing connections between heterogenous software artifacts, mining domain knowledge from those artifacts, and making inference about the semantics of artifact connections.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/Jin_LC_Guo" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="http://jguo-web.com" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- tobias Coatzee -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/tobias.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Tobias Coetzee</h4>
                  <h6 class="card-title-grey">@tobiascode</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Tobias tries to stay on the cutting edge of Java and Cloud technologies. Holding a Masters Degree in Software Engineering he is responsible for platform engineering and DevOps across all commercial banking platforms at RBC. In his
                role as Senior Engineering Manager he codes, is involved in architecture, builds DevOps pipelines, experiments with and introduces new technologies to banking projects and mentors RBC developers in best practices. When he is not
                learning something new he likes to see how far he can run before his legs fall off in an attempt to better his previous marathon time!
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/tobiascode" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="https://tobiascode.com/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- Matthieu Courbariaux -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/matthieu_c.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Matthieu Courbariaux</h4>
                  <h6 class="card-title-grey"></h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Matthieu is currently a researcher in Deep Learning computer hardware at MILA. In 2015, he graduated from Polytechnic Montreal with a Master's degree in Electrical Engineering, under the co-supervision of professors Jean-Pierre David
                and Yoshua Bengio. Together, they have shown that it is possible to design competitive deep neural network algorithms with very low precision synaptic connections. Currently, Matthieu is giving consultations to Montreal companies,
                and contributing to the design of neuromorphic brain-like computers. Outside work, Matthieu loves to read and talk about biology, economy and health.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://www.linkedin.com/in/matthieu-courbariaux/ " target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
              <a href="https://github.com/MatthieuCourbariaux/ " target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-github card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- Maxwell Elendt -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/speaker_maxwell.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Maxwell Elendt</h4>
                  <h6 class="card-title-grey">@xelendt</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Maxwell is a fourth year computer science student at the University of Waterloo with a passion for computer graphics. He has worked at companies such as Christie Digital, SideFX Software, Felix & Paul Studios and most recently The
                Mill. His favorite open
                source libraries are OpenCV and Three.js. Outside of work, he loves to play volleyball, is a member of UWaterloo's Autonomous Car Design Team, and has volunteered on committees for ACM SIGGRAPH and SIGGRAPH Asia conferences.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://xelendt.com" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/kim.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Kim Noel</h4>
                  <h6 class="card-title-grey">@NoelKM</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Native Montrealer working on enhacing the local developer community and supporting the future developers of this world. Currently a Community Engineer Manager at Auth0 helping developers world wide implement authentication and
                authorization in their applications. Graduated from Concordia University and previous CUSEC organizer, back now as a speaker!
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/NoelKM" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="https://kimcodesin.space" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- Pierre-luc Maheu -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/speaker_plmaheu.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Pierre-Luc Maheu</h4>
                  <h6 class="card-title-grey">@plmaheu</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Pierre-Luc Maheu is a software developer who worked in VoIP, cloud hosting, e-commerce and bike sharing for the past nine years. He currently works at PBSC Urban Solutions, a bike sharing solutions provider. He is also an editor at
                InfoQ, writing about
                .NET. His current topics of interest are monitoring, performance/scaling and Akka. In his free time, he likes to clear his mind doing indoor climbing, Animal Flow and Kendo.

              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/plmaheu" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="https://www.infoq.com/profile/Pierre~Luc-Maheu" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- Nicolas Cuillery -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/nicolas_c.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Nicolas Cuillery</h4>
                  <h6 class="card-title-grey"></h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Nicolas is a software developer. Graduated in electronic 9 years ago from the french engineering school CPE-Lyon, he has worked his way up to a CTO position in the Canadian branch of the consulting company Zenika. Driven by passion,
                he has taken an active role in the JavaScript community by contributing to multiples libraries and frameworks, writing blog posts and co-organizing the React meetup in Montreal.
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>

        <!-- Kathy Giori -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/kgiori.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Kathy Giori</h4>
                  <h6 class="card-title-grey">@kgiori</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Kathy Giori is a Senior Product Manager at Mozilla, helping drive "Project Things", an open source Web of Things implementation which embodies Mozilla's values around privacy, security, and interoperability. In previous roles at
                Arduino.org, Qualcomm Atheros, and other startups, she has been promoting the benefits of open hardware and software, and finds that bridging open communities with industry drives faster innovation. She received her bachelor's degree
                in Electrical Engineering from the University of Minnesota, and her master’s in EE from Stanford.
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>

        <!-- Mallar Chakravarty -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/chakravarty.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Mallar Chakravarty</h4>
                  <h6 class="card-title-grey">@mallarchkrvrty1</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Mallar Chakravarty is a Computational Neuroscientist in the Cerebral Imaging Centre at Douglas Mental Health University Institute. He is also an Assistant Professor in the Department of Psychiatry and an Associate Member of the
                Department of Biomedical Engineering at McGill University. Dr. Chakravarty received his Bachelor’s Degree in Electrical Engineering from the University of Waterloo and his PhD in Biomedical Engineering from McGill University. He went
                on to do postdoctoral fellowships in Aarhus, Denmark and jointly at the Rotman Research Institute and at the Mouse Imaging Centre (MICe) and the Hospital Sick Children in Toronto, Canada. Between fellowships, Dr. Chakravarty worked
                at the Allen Institute for Brain Science (Seatte, WA, USA). He is interested in the anatomy of the brain. His group focuses on how anatomy changes through development, aging, and in illness and how the dynamics of brain anatomy are
                influenced by genetics and environment. In his recent work he has been using machine learning techniques coupled with MRI to predict the future course of illness in schizophrenia and Alzheimer's disease.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/mallarchkrvrty1" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="https://scholar.google.ca/citations?user=KnO8dEcAAAAJ&hl=en&oi=ao" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-book-open card-title-grey"></i></a>
              <a href="http://cobralab.ca/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- Olivier Bilodeau -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/obilodeau.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Olivier Bilodeau</h4>
                  <h6 class="card-title-grey">@obilodeau</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Coming from the dusty environment of the Unix server room, Olivier spent the last 10 years migrating from big networks, open source software development in network security and is now focused on malware research and finding flaws in
                software. Passionate communicator, Olivier has spoken at several conferences like BlackHat USA/Europe, Defcon, Botconf, SecTor, Derbycon, HackFest and many more. Invested in his community, he co-organizes MontréHack, a monthly
                workshop focused on applied information security, and NorthSec, Montreal's infosec community conference and Capture-The-Flag. In his spare time, Olivier Bilodeau currently leads the Cybersecurity Research team at GoSecure, a
                cybersecurity-focused managed service and products provider.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://twitter.com/obilodeau" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-twitter card-title-grey"></i></a>
              <a href="https://www.github.com/obilodeau" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-github card-title-grey"></i></a>
              <a href="https://gosecure.net/blog/" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
              <a href="https://ca.linkedin.com/in/olivierbilodeau" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin card-title-grey"></i></a>
            </div>
          </div>
        </div>

        <!-- Andrew Louis -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/andrew_l.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Andrew Louis</h4>
                  <h6 class="card-title-grey">@hyfen</h6>
                </div>
              </a>
              <p class="card-title-grey text-center">
                Andrew is a software developer based in Toronto. He’s currently working on building a modern Memex. Previously, he was the co-founder and CTO of ShopLocket, an ecommerce startup acquired in 2014. He was also a student organizer for
                CUSEC and is now an advisor of the conference. When he’s not coding, he spends his time on obsessive projects such as attempting to bike on every street in Toronto, taking photos of only doors (instagram: @hyfen), and making voxel
                art.
              </p>
            </div>
            <div class="card-footer text-center ">
              <a href="https://hyfen.net/memex" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fas fa-desktop card-title-grey"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>