<div class="section">
  <div class="container text-center">
    <h1 id="title">Schedule</h1>


    <table id="thursday" class="table table-bordered">
      <thead>
        <tr>
          <th colspan="3">Thursday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>8:00</td>
          <td rowspan="2" colspan="2">Registration</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>9:00</td>
          <td rowspan="2" colspan="2">Breakfast</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>9:30</td>
          <td colspan="2">Introduction</td>
        </tr>
        <tr>
          <td>10:00</td>
          <td rowspan="2" colspan="2" class="keynote">
            <!-- <a href="/speakers/#limedaring">Tracy Osborn</a><br> -->
            <!-- <span class="note">Keynote</span> -->
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11:05</td>
          <td colspan="2">Sponsor Introduction</td>
        </tr>
        <tr>
          <td>11:35</td>
          <td colspan="2" class="talk">
            <!-- <a href="/speakers/#electricspectra">Huma Zafar</a> -->
          </td>
        </tr>
        <tr>
          <td>12:10</td>
          <td colspan="2" class="talk">
            <!-- <a href="/speakers/#kamalmarhubi">Kamal Marhubi</a> -->
          </td>
        </tr>
        <tr>
          <td>12:45</td>
          <td rowspan="3">Lunch Break</td>
          <td></td>
        </tr>
        <tr>
          <td>13:15</td>
          <td rowspan="2" class="event">
            Resume Review
          </td>
        </tr>
      </tbody>
    </table>

    <br>
    <br>


    <table id="friday" class="table table-bordered">
      <thead>
        <tr>
          <th colspan="3">Friday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>8:00</td>
          <td rowspan="2" colspan="2">Registration</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>9:00</td>
          <td rowspan="2" colspan="2">Breakfast</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>9:30</td>
          <td colspan="2">Introduction</td>
        </tr>
        <tr>
          <td>10:00</td>
          <td rowspan="2" colspan="2" class="keynote">
            <!-- <a href="/speakers/#limedaring">Tracy Osborn</a><br> -->
            <!-- <span class="note">Keynote</span> -->
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11:05</td>
          <td colspan="2">Sponsor Introduction</td>
        </tr>
        <tr>
          <td>11:35</td>
          <td colspan="2" class="talk">
            <!-- <a href="/speakers/#electricspectra">Huma Zafar</a> -->
          </td>
        </tr>
        <tr>
          <td>12:10</td>
          <td colspan="2" class="talk">
            <!-- <a href="/speakers/#kamalmarhubi">Kamal Marhubi</a> -->
          </td>
        </tr>
        <tr>
          <td>12:45</td>
          <td rowspan="3">Lunch Break</td>
          <td></td>
        </tr>
        <tr>
          <td>13:15</td>
          <td rowspan="2" class="event">
            Resume Review
          </td>
        </tr>
      </tbody>
    </table>

    <br>
    <br>

    <table id="saturday" class="table table-bordered">
      <thead>
        <tr>
          <th colspan="3">Saturday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>8:00</td>
          <td rowspan="2" colspan="2">Registration</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>9:00</td>
          <td rowspan="2" colspan="2">Breakfast</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>9:30</td>
          <td colspan="2">Introduction</td>
        </tr>
        <tr>
          <td>10:00</td>
          <td rowspan="2" colspan="2" class="keynote">
            <!-- <a href="/speakers/#limedaring">Tracy Osborn</a><br> -->
            <!-- <span class="note">Keynote</span> -->
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11:05</td>
          <td colspan="2">Sponsor Introduction</td>
        </tr>
        <tr>
          <td>11:35</td>
          <td colspan="2" class="talk">
            <!-- <a href="/speakers/#electricspectra">Huma Zafar</a> -->
          </td>
        </tr>
        <tr>
          <td>12:10</td>
          <td colspan="2" class="talk">
            <!-- <a href="/speakers/#kamalmarhubi">Kamal Marhubi</a> -->
          </td>
        </tr>
        <tr>
          <td>12:45</td>
          <td rowspan="3">Lunch Break</td>
          <td></td>
        </tr>
        <tr>
          <td>13:15</td>
          <td rowspan="2" class="event">
            Resume Review
          </td>
        </tr>
      </tbody>
    </table>









  </div>
</div>