<div class="section">
  <div class="container text-center">
    <h1 id="title">Schedule</h1>


    <table id="thursday" class="table table-bordered">
      <thead>
        <tr>
          <th colspan="3">Thursday, January 10th</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>8:00</td>
          <td class="blue" rowspan="2" colspan="2">Registration</td>
        </tr>
        <tr>
          <td>8:30</td>
        </tr>
        <tr>
          <td>9:00</td>
          <td class="blue" rowspan="1" colspan="2">Light Breakfast</td>
        </tr>
        <tr>
          <!-- <td>&nbsp;</td> -->
          <td>9:30</td>
          <td class="blue" rowspan="1" colspan="2">Opening Remarks</td>
        </tr>

        <tr>
          <td>10:00</td>
          <td class="coral" rowspan="2" colspan="2">Keynote - Gelu Ticala</td>
        </tr>
        <tr>
          <td>10:30</td>
        </tr>
        <tr>
          <td>10:50</td>
          <td class="coral" rowspan="1" colspan="2">Invited - Mallar Chakravarty</td>
        </tr>
        <tr>
          <td>11:15</td>
          <td class="coral" rowspan="1" colspan="2">Invited - Tobias Coetzee</td>
        </tr>
        <tr>
          <td>11:45</td>
          <td class="coral-light" rowspan="1" colspan="2">Speakers Q&A</td>
        </tr>
        <tr>
          <td>12:00</td>
          <td class="blue" rowspan="3">Lunch Break</td>
          <td></td>
        </tr>
        <tr>
          <td>12:15</td>
          <td class="green" rowspan="2">Resume Review</td>
        </tr>
        <tr>
          <td>13:00</td>
        </tr>
        <tr>
          <td>13:30</td>
          <td class="blue" rowspan="1" colspan="2">Sponsor Introductions</td>
        </tr>
        <tr>
          <td>14:00</td>
          <td class="blue" rowspan="3">Career Fair</td>
          <td></td>
        </tr>
        <tr>
          <td>14:30</td>
          <td></td>
        </tr>
        <tr>
          <td>15:00</td>
          <td></td>
        </tr>
        <tr>
          <td>15:30</td>
          <td class="green" rowspan="3" colspan="1">Democamp</td>
          <td></td>
        </tr>
        <tr>
          <td>15:45</td>
          <td class="blue" rowspan="2" colspan="1">CSE Workshop</td>
        </tr>
        <tr>
          <td>16:00</td>
        </tr>
        <tr>
          <td>16:30</td>
          <td class="coral" rowspan="2" colspan="2">Keynote - Sarah Kraynick</td>
        </tr>
        <tr>
          <td>17:00</td>
        </tr>
        <tr>
          <td>17:20</td>
          <td class="coral" rowspan="1" colspan="2">Invited - Maxwell Elendt</td>
        </tr>
        <tr>
          <td>17:45</td>
          <td class="coral" rowspan="1" colspan="2">Invited - Nicolas Cuillery</td>
        </tr>
        <tr>
          <td>18:15</td>
          <td class="coral-light" colspan="2">Speakers Q&A - Afternoon</td>
        </tr>
        <tr>
          <td>18:30</td>
          <td colspan="2"> ... </td>
        </tr>
        <tr>
          <td>21:00</td>
          <td class="green" rowspan="4" colspan="1"> Pub Night - 3 Brasseurs </td>
          <td class="green" rowspan="4" colspan="1"> Movie Night</td>
        </tr>
        <tr>
          <td>22:00</td>
        </tr>
        <tr>
          <td>23:00</td>
        </tr>
        <tr>
          <td>24:00</td>
        </tr>
      </tbody>
    </table>

    <br>
    <br>


    <table id="friday" class="table table-bordered">
      <thead>
        <tr>
          <th colspan="3">Friday, January 11th</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>8:00</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>8:30</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>9:00</td>
          <td class="blue" rowspan="1" colspan="2">Breakfast</td>
        </tr>
        <tr>
          <!-- <td>&nbsp;</td> -->
          <td>9:45</td>
          <td class="blue" rowspan="1" colspan="2">Invited - Jin Guo</td>
        </tr>

        <tr>
          <td>10:15</td>
          <td class="blue" rowspan="1" colspan="2">Invited - Pierre-Luc Maheu</td>
        </tr>
        <tr>
          <td>10:45</td>
          <td class="coral" rowspan="2" colspan="2">Keynote - Eyra Abraham</td>
        </tr>
        <tr>
          <td>11:15</td>
        </tr>
        <tr>
          <td>11:30</td>
          <td class="coral-light" rowspan="1" colspan="1">Speakers Q&A</td>
          <td class="blue" rowspan="3" colspan="1">RBC Workshop</td>
        </tr>
        <tr>
          <td>11:45</td>
          <td></td>
        </tr>
        <tr>
          <td>12:00</td>
          <td></td>
        </tr>
        <tr>
          <td>12:15</td>
          <td class="green" rowspan="2" colspan="1">Diversity Discussion</td>
          <td class="blue" rowspan="2" colspan="1">Lunch Break</td>
        </tr>
        <tr>
          <td>12:30</td>
        </tr>
        <tr>
          <td>13:10</td>
          <td class="blue" rowspan="4" colspan="1">Career Fair</td>
          <td></td>
        </tr>
        <tr>
          <td>13:30</td>
          <td></td>
        </tr>
        <tr>
          <td>14:00</td>
          <td></td>
        </tr>
        <tr>
          <td>14:30</td>
          <td class="blue" rowspan="2" colspan="1">Yelp Workshop</td>
        </tr>
        <tr>
          <td>15:00</td>
          <td></td>
        </tr>
        <tr>
          <td>15:20</td>
          <td class="green" rowspan="2" colspan="1">Lightning Talks</td>
          <td></td>
        </tr>
        <tr>
          <td>15:30</td>
          <td class="blue" rowspan="2" colspan="1">Yelp Workshop</td>
        </tr>
        <tr>
          <td>16:00</td>
          <td></td>
        </tr>
        <tr>
          <td>16:30</td>
          <td class="coral" rowspan="2" colspan="2">Keynote - Amanda Cox</td>
        </tr>
        <tr>
          <td>17:00</td>
        </tr>
        <tr>
          <td>17:20</td>
          <td class="coral" rowspan="1" colspan="2">Invited - Kathy Giori</td>
        </tr>
        <tr>
          <td>17:45</td>
          <td class="coral" rowspan="1" colspan="2">Invited - Olivier Bilodeau</td>
        </tr>
        <tr>
          <td>18:15</td>
          <td class="coral-light" colspan="2">Speakers Q&A - Afternoon</td>
        </tr>
        <tr>
          <td>18:30</td>
          <td colspan="2"> ... </td>
        </tr>
        <tr>
          <td>20:00</td>
          <td class="green" rowspan="4" colspan="2">Games Nights</td>
        </tr>
        <tr>
          <td>22:00</td>
        </tr>
        <tr>
          <td>23:00</td>
        </tr>
        <tr>
          <td>24:00</td>
        </tr>
      </tbody>
    </table>

    <br><br>


    <table id="saturday" class="table table-bordered">
      <thead>
        <tr>
          <th colspan="3">Saturday, January 12th</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>8:00</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>8:30</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>9:00</td>
          <td class="blue" rowspan="1" colspan="2">Breakfast</td>
        </tr>
        <tr>
          <!-- <td>&nbsp;</td> -->
          <td>9:45</td>
          <td class="coral" rowspan="1" colspan="2">Invited - Matthieu Courbariaux</td>
        </tr>

        <tr>
          <td>10:15</td>
          <td class="coral" rowspan="1" colspan="2">Invited - Andrew Louis</td>
        </tr>
        <tr>
          <td>10:45</td>
          <td class="coral" rowspan="2" colspan="2">Keynote - Yasmin Alameddine</td>
        </tr>
        <tr>
          <td>11:15</td>
        </tr>
        <tr>
          <td>11:30</td>
          <td class="coral-light" rowspan="1" colspan="1">Speakers Q&A</td>
          <td class="blue" rowspan="3" colspan="1">Kinaxis Workshop</td>
        </tr>
        <tr>
          <td>11:45</td>
          <td></td>
        </tr>
        <tr>
          <td>12:00</td>
          <td></td>
        </tr>
        <tr>
          <td>12:15</td>
          <td class="blue" rowspan="2" colspan="1">Volunteer Info Session</td>
          <td class="blue" rowspan="2" colspan="1">Lunch Break</td>
        </tr>
        <tr>
          <td>12:30</td>
        </tr>
        <tr>
          <td>13:10</td>
          <td class="blue" rowspan="7" colspan="1">Career Fair</td>
          <td></td>
        </tr>
        <tr>
          <td>13:30</td>
          <td></td>
        </tr>
        <tr>
          <td>14:00</td>
          <td></td>
        </tr>
        <tr>
          <td>14:30</td>
          <td class="blue" rowspan="2" colspan="1">Shopify Workshop</td>
        </tr>
        <tr>
          <td>15:00</td>
        </tr>
        <tr>
          <td>15:30</td>
          <td class="blue" rowspan="2" colspan="1">IBM Workshop</td>
        </tr>
        <tr>
          <td>16:00</td>
        </tr>
        <tr>
          <td>16:30</td>
          <td class="coral" rowspan="1" colspan="2">Invited - Kim Noel</td>
        </tr>
        <tr>
          <td>17:00</td>
          <td class="coral" rowspan="2" colspan="2">Keynote - Matt Lee</td>
        </tr>
        <tr>
          <td>17:45</td>
        </tr>
        <tr>
          <td>18:00</td>
          <td class="blue" rowspan="2" colspan="2">Closing Ceremonies</td>
        </tr>
        <tr>
          <td>18:30</td>
        </tr>
        <tr>
          <td>19:00</td>
          <td colspan="2">...</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>