<div class="section">
  <div class="container text-center">
    <h1 id="title">Schedule</h1>


    <table id="thursday" class="table table-bordered">
      <thead>
        <tr>
          <th colspan="3">Thursday, January 10th</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>8:00</td>
          <td class="blue" rowspan="2" colspan="2">Registration <br><span class="subtext">(Lower Lobby)</span></td>
        </tr>
        <tr>
          <td>8:30</td>
        </tr>
        <tr>
          <td>9:00</td>
          <td class="blue" rowspan="1" colspan="2">Light Breakfast <span class="subtext">(Viger Room)</span></td>
        </tr>
        <tr>
          <!-- <td>&nbsp;</td> -->
          <td>9:30</td>
          <td class="blue" rowspan="1" colspan="2">Opening Remarks <span class="subtext">(Kinaxis Room)</span></td>
        </tr>

        <tr>
          <td>10:00</td>
          <td class="coral" rowspan="2" colspan="2"><a routerLink="/speakers">Gelu Ticala <br><span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>
        <tr>
          <td>10:30</td>
        </tr>
        <tr>
          <td>10:50</td>
          <td class="coral" rowspan="1" colspan="2"><a routerLink="/speakers">Mallar Chakravarty <span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>
        <tr>
          <td>11:15</td>
          <td class="coral" rowspan="1" colspan="2"><a routerLink="/speakers">Tobias Coetzee <span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>
        <tr>
          <td>11:45</td>
          <td class="coral-light" rowspan="1" colspan="2">Speakers Q&A <span class="subtext">(Kinaxis Room)</span></td>
        </tr>
        <tr>
          <td>12:00</td>
          <td class="blue" rowspan="3">Lunch Break</td>
          <td></td>
        </tr>
        <tr>
          <td>12:15</td>
          <td class="green" rowspan="2">Resume Review <br><span class="subtext">(Kinaxis Room)</span></td>
        </tr>
        <tr>
          <td>13:00</td>
        </tr>
        <tr>
          <td>13:30</td>
          <td class="blue" rowspan="1" colspan="2">Sponsor Introductions <span class="subtext">(Kinaxis Room)</span></td>
        </tr>
        <tr>
          <td>14:00</td>
          <td class="blue" rowspan="3">Career Fair <span class="subtext">(Viger Room)</span></td>
          <td></td>
        </tr>
        <tr>
          <td>14:30</td>
          <td></td>
        </tr>
        <tr>
          <td>15:00</td>
          <td></td>
        </tr>
        <tr>
          <td>15:30</td>
          <td class="green" rowspan="3" colspan="1">Democamp <br><span class="subtext">(Kinaxis Room)</span></td>
          <td></td>
        </tr>
        <tr>
          <td>15:45</td>
          <td class="blue" rowspan="2" colspan="1"><a routerLink="/workshops">CSE Workshop <span class="subtext">(Caf' Conc Room)</span></a></td>
        </tr>
        <tr>
          <td>16:00</td>
        </tr>
        <tr>
          <td>16:30</td>
          <td class="coral" rowspan="2" colspan="2"><a routerLink="/speakers">Sarah Kraynick <br><span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>
        <tr>
          <td>17:00</td>
        </tr>
        <tr>
          <td>17:20</td>
          <td class="coral" rowspan="1" colspan="2"><a routerLink="/speakers">Maxwell Elendt <span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>
        <tr>
          <td>17:45</td>
          <td class="coral" rowspan="1" colspan="2"><a routerLink="/speakers">Nicolas Cuillery <span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>
        <tr>
          <td>18:15</td>
          <td class="coral-light" colspan="2">Speakers Q&A - Afternoon <span class="subtext">(Kinaxis Room)</span></td>
        </tr>
        <tr>
          <td>18:30</td>
          <td colspan="2"> ... </td>
        </tr>
        <tr>
          <td>20:00</td>
          <td class="green" rowspan="4" colspan="1"> Pub Night - <span class="subtext">3 Brasseurs</span></td>
          <td class="green" rowspan="4" colspan="1"> Movie Night <span class="subtext">(Caf' Conc Room)</span></td>
        </tr>
        <tr>
          <td>21:00</td>
        </tr>
        <tr>
          <td>22:00</td>
        </tr>
        <tr>
          <td>23:00</td>
        </tr>
      </tbody>
    </table>

    <br>
    <br>


    <table id="friday" class="table table-bordered">
      <thead>
        <tr>
          <th colspan="3">Friday, January 11th</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>8:00</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>8:30</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>9:00</td>
          <td class="blue" rowspan="1" colspan="2">Breakfast <span class="subtext">(Lower Lobby)</span></td>
        </tr>
        <tr>
          <!-- <td>&nbsp;</td> -->
          <td>9:45</td>
          <td class="blue" rowspan="1" colspan="2"><a routerLink="/speakers">Jin Guo <span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>

        <tr>
          <td>10:15</td>
          <td class="blue" rowspan="1" colspan="2"><a routerLink="/speakers">Pierre-Luc Maheu <span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>
        <tr>
          <td>10:45</td>
          <td class="coral" rowspan="2" colspan="2"><a routerLink="/speakers">Eyra Abraham <br><span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>
        <tr>
          <td>11:15</td>
        </tr>
        <tr>
          <td>11:30</td>
          <td class="coral-light" rowspan="1" colspan="1">Speakers Q&A <span class="subtext">(Kinaxis Room)</span></td>
          <td class="blue" rowspan="3" colspan="1"><a routerLink="/workshops">RBC Workshop <span class="subtext">(Caf' Conc Room)</span></a></td>
        </tr>
        <tr>
          <td>11:45</td>
          <td></td>
        </tr>
        <tr>
          <td>12:00</td>
          <td></td>
        </tr>
        <tr>
          <td>12:15</td>
          <td class="green" rowspan="2" colspan="1">Diversity Discussion <br><span class="subtext">(Kinaxis Room)</span></td>
          <td class="blue" rowspan="2" colspan="1">Lunch Break</td>
        </tr>
        <tr>
          <td>12:30</td>
        </tr>
        <tr>
          <td>13:10</td>
          <td class="blue" rowspan="4" colspan="1">Career Fair <span class="subtext">(Viger Room)</span></td>
          <td></td>
        </tr>
        <tr>
          <td>13:30</td>
          <td></td>
        </tr>
        <tr>
          <td>14:00</td>
          <td></td>
        </tr>
        <tr>
          <td>14:30</td>
          <td class="blue" rowspan="2" colspan="1"><a routerLink="/workshops">Yelp Workshop <span class="subtext">(Caf' Conc Room)</span></a></td>
        </tr>
        <tr>
          <td>15:00</td>
          <td></td>
        </tr>
        <tr>
          <td>15:20</td>
          <td class="green" rowspan="2" colspan="1">Lightning Talks <span class="subtext">(Kinaxis Room)</span></td>
          <td></td>
        </tr>
        <tr>
          <td>15:30</td>
          <td class="blue" rowspan="2" colspan="1"><a routerLink="/workshops">Wind River Workshop <span class="subtext">(Caf' Conc Room)</span></a></td>
        </tr>
        <tr>
          <td>16:00</td>
          <td></td>
        </tr>
        <tr>
          <td>16:30</td>
          <td class="coral" rowspan="2" colspan="2"><a routerLink="/speakers">Amanda Cox <br><span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>
        <tr>
          <td>17:00</td>
        </tr>
        <tr>
          <td>17:20</td>
          <td class="coral" rowspan="1" colspan="2"><a routerLink="/speakers">Kathy Giori <span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>
        <tr>
          <td>17:45</td>
          <td class="coral" rowspan="1" colspan="2"><a routerLink="/speakers">Olivier Bilodeau <span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>
        <tr>
          <td>18:15</td>
          <td class="coral-light" colspan="2">Speakers Q&A - Afternoon <span class="subtext">(Kinaxis Room)</span></td>
        </tr>
        <tr>
          <td>18:30</td>
          <td colspan="2"> ... </td>
        </tr>
        <tr>
          <td>20:00</td>
          <td class="green" rowspan="4" colspan="2">Games Nights <span class="subtext">(Caf' Conc Room)</span></td>
        </tr>
        <tr>
          <td>22:00</td>
        </tr>
        <tr>
          <td>23:00</td>
        </tr>
        <tr>
          <td>24:00</td>
        </tr>
      </tbody>
    </table>

    <br><br>


    <table id="saturday" class="table table-bordered">
      <thead>
        <tr>
          <th colspan="3">Saturday, January 12th</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>8:00</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>8:30</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>9:00</td>
          <td class="blue" rowspan="1" colspan="2">Breakfast <span class="subtext">(Lower Lobby)</span></td>
        </tr>
        <tr>
          <!-- <td>&nbsp;</td> -->
          <td>9:45</td>
          <td class="coral" rowspan="1" colspan="2"><a routerLink="/speakers">Matthieu Courbariaux <span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>

        <tr>
          <td>10:15</td>
          <td class="coral" rowspan="1" colspan="2"><a routerLink="/speakers">Andrew Louis <span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>
        <tr>
          <td>10:45</td>
          <td class="coral" rowspan="2" colspan="2"><a routerLink="/speakers">Yasmin Alameddine <br><span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>
        <tr>
          <td>11:15</td>
        </tr>
        <tr>
          <td>11:30</td>
          <td class="coral-light" rowspan="1" colspan="1">Speakers Q&A <span class="subtext">(Kinaxis Room)</span></td>
          <td class="blue" rowspan="3" colspan="1"><a routerLink="/workshops">Kinaxis Workshop <span class="subtext">(Caf' Conc Room)</span></a></td>
        </tr>
        <tr>
          <td>11:45</td>
          <td></td>
        </tr>
        <tr>
          <td>12:00</td>
          <td></td>
        </tr>
        <tr>
          <td>12:15</td>
          <td class="blue" rowspan="2" colspan="1">Volunteer Info Session <span class="subtext">(Kinaxis Room)</span></td>
          <td class="blue" rowspan="2" colspan="1">Lunch Break</td>
        </tr>
        <tr>
          <td>12:30</td>
        </tr>
        <tr>
          <td>13:10</td>
          <td class="blue" rowspan="7" colspan="1">Career Fair <span class="subtext">(Viger Room)</span></td>
          <td></td>
        </tr>
        <tr>
          <td>13:30</td>
          <td></td>
        </tr>
        <tr>
          <td>14:00</td>
          <td></td>
        </tr>
        <tr>
          <td>14:30</td>
          <td class="blue" rowspan="2" colspan="1"><a routerLink="/workshops">Shopify Workshop <span class="subtext">(Caf' Conc Room)</span></a></td>
        </tr>
        <tr>
          <td>15:00</td>
        </tr>
        <tr>
          <td>15:30</td>
          <td class="blue" rowspan="2" colspan="1"><a routerLink="/workshops">IBM Workshop <span class="subtext">(Caf' Conc Room)</span></a></td>
        </tr>
        <tr>
          <td>16:00</td>
        </tr>
        <tr>
          <td>16:30</td>
          <td class="coral" rowspan="1" colspan="2"><a routerLink="/speakers">Kim Noel <span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>
        <tr>
          <td>17:00</td>
          <td class="coral" rowspan="2" colspan="2"><a routerLink="/speakers">Matt Lee <br><span class="subtext">(Kinaxis Room)</span></a></td>
        </tr>
        <tr>
          <td>17:45</td>
        </tr>
        <tr>
          <td>18:00</td>
          <td class="blue" rowspan="2" colspan="2">Closing Ceremonies <span class="subtext">(Kinaxis Room)</span></td>
        </tr>
        <tr>
          <td>18:30</td>
        </tr>
        <tr>
          <td>19:00</td>
          <td colspan="2">...</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>