<div class="section">
  <div class="container">
    <div class="row">


    </div>
  </div>
</div>

<div class="section">
  <div class="container text-center">
    <div class="row" style="margin: 0 auto">

      <div class="col-md-8 ml-auto mr-auto text-center">
        <h1 id="theteam">Keynote Talks</h1>
        <br>
      </div>

      <div class="row">


        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/ticala.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Gelu Ticala's talk</h4>
                  <h6 class="card-title-grey"></h6>
                </div>
              </a>
              <p class="title bold">The Software Engineer’s (B) Tree of Life</p>
              <p class="card-title-grey text-center">
                Life as a (sorted) sequence of events, decisions and what-ifs. Join me on a journey, peppered with personal experiences, to discover what it takes to thrive as a software engineer or, if you join the dark side, as an R&D leader.
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>



        <!-- MATT LEE -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/speaker_mattl.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Matt Lee's talk</h4>
                  <h6 class="card-title-grey">@mattl</h6>
                </div>
              </a>
              <p class="title bold">Coming Soon</p>
              <p class="card-title-grey text-center">
                Description Coming Soon
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>

        <!-- Sarah Kraynick -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/s_kraynick.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Sarah Kraynick's talk</h4>
                  <h6 class="card-title-grey">@nomad_soc_eng</h6>
                </div>
              </a>
              <p class="title bold">Humanizing security</p>
              <p class="card-title-grey text-center">When we talk about secure systems we often talk of the technology behind it, we forget that humans are the ultimate users. Because of that, humans of often the weakest component of our systems.
                Humans are imperfect beings, despite our wanting to believe otherwise. We will consider culture, gender, sex, sexuality, religion and other makers of what makes us human and why they all should be considered when we design our secure
                systems.
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>

        <!-- Eyra Abraham -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/eyra.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Eyra Abraham's talk</h4>
                  <h6 class="card-title-grey">@lisnenwear</h6>
                </div>
              </a>
              <p class="title bold">The Unintentional Innovation</p>
              <p class="card-title-grey text-center">
                A good software engineer is competent at writing high-quality lines of code, but a great software engineer can incorporate inclusive design in mind. This keynote presentation is about the power of our limitations and how it can
                impact the world. By reflecting on real-world examples of innovations that now cater to the masses and at the same time, supporting a niche group of people of various challenges, this talk will leave you with a new perspective on
                what it takes to make the good to great.
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>

        <!-- Yasmin Alameddine -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/yasmin.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Yasmin Alameddine's talk</h4>
                </div>
              </a>
              <p class="title bold">Why Soft Skills Matter</p>
              <p class="card-title-grey text-center">
                Yasmin will be discussing the importance of soft skills in technology. From networking coffees, product pitches, salary negotiations, to peer communication. Yasmin argues that building your soft skills is essential to succeeding in
                the beginning of your career in technology.
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>

        <!-- Amanda Cox  -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/amanda.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Amanda Cox's talk</h4>
                  <h6 class="card-title-grey">@amandacox</h6>
                </div>
              </a>
              <p class="title bold">The Possibility of Surprise</p>
              <p class="card-title-grey text-center">
                Some of the power of data visualization lies in its potential to reveal surprises. Some forms are more likely to evoke that surprise.
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>




        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 id="theteam"> Invited Speakers</h1>
          <br>
        </div>

        <!-- Jin Guo -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/speaker_jinguo.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Jin Guo's talk</h4>
                  <h6 class="card-title-grey">@Jin_LC_Guo </h6>
                </div>
              </a>
              <p class="title bold">Supporting and Utilizing Software Traceability</p>
              <p class="card-title-grey text-center">
                Modern Software and Systems engineering projects produce large quantities of data (artifacts) as a natural by-product of the engineering process. These artifacts, including user stories, requirements, design documents, source code,
                and test cases, are interconnected, and their connectivity can be used to answer questions of both the software product and its development process. The connections between software artifacts are represented as trace links. Creating
                trace links manually is time-consuming and error-prone and several studies have shown that it produces incomplete, redundant, and inaccurate links. In this talk, I will explain several ways to achieve automated accurate trace link
                generation through machine learning and natural language processing techniques. I will also illustrate how trace links can deliver actionable intelligence in support of software engineering activities such as knowledge base
                construction, impact analysis, and project Q&A.
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>

        <!-- tobias Coatzee -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/tobias.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Tobias Coetzee's talk</h4>
                  <h6 class="card-title-grey">@tobiascode</h6>
                </div>
              </a>
              <p class="title bold">Serverless - Applications Running in Their Natural State</p>
              <p class="card-title-grey text-center">
                Serverless is more than a trend, today all the major cloud providers have a serverless offering on their platform, many books have been written on the subject and businesses around the world are using the power of severless daily. In
                this talk we explore what serverless is, how it compares to current software trends and more importantly why you should care about it. By seeing a serverless solution in action you will learn about the benefits and drawbacks of
                moving the value line up for developers and become familiar with current technology trends.
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>

        <!-- Matthieu Courbariaux -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/matthieu_c.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Matthieu Courbariaux's talk</h4>
                  <h6 class="card-title-grey"></h6>
                </div>
              </a>
              <p class="title bold">Towards neuromorphic hardware</p>
              <p class="card-title-grey text-center">
                Training and running deep neural networks is very computationally intensive.
                The performance of our algorithms was and still is to a large extent limited by the throughput of our computing hardware.
                Many Deep Learning breakthroughs were enabled by a change in hardware (e.g. from CPU to GPU), a better use of existing hardware, or even Moore's law.
                However, we are currently reaching the physical limits to transistor scaling, and Moore's law is likely coming to an end.
                As a result, neuromorphic hardware, i.e. brain-like computers, are gaining more and more traction.
                The goal of this presentation is to give an overview of the past, present and future of Deep Learning hardware.
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>

        <!-- Maxwell Elendt -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/speaker_maxwell.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Maxwell Elendt's talk</h4>
                  <h6 class="card-title-grey">@xelendt</h6>
                </div>
              </a>
              <p class="title bold">AR Revolution</p>
              <p class="card-title-grey text-center">
                AR Filters have captured the attention of millions on platforms like
                Snapchat and Instagram. Although the experience may seem simple, it is
                the result of decades of hard work and innovation. Topics to be
                discussed will be the emergence of digital jewelry, the history of the
                technologies behind AR filters, and how to get involved in the field of
                computer graphics.
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>

        <div name="kim" class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/kim.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Kim Noel's talk</h4>
                  <h6 class="card-title-grey">@NoelKM</h6>
                </div>
              </a>
              <p class="title bold">The secret life of working in your pj's</p>
              <p class="card-title-grey text-center">
                A distributed team allows a company to hire the best talent regardless of location. Folks joke about the fun of working from home, in your pajamas, but it is not as easy as one may think! It can be a real challenge to get right and
                work effectively. From working remotely with GitHub, to Auth0, and now Microsoft, there have been a few common factors that have enabled successful working habits. In this talk we will explore the three key areas to make ourselves
                great remote workers. You may also discover a secret formula!
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>

        <!-- Pierre-luc Maheu -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/speaker_plmaheu.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Pierre-Luc Maheu's talk</h4>
                  <h6 class="card-title-grey">@plmaheu</h6>
                </div>
              </a>
              <p class="title bold">Performance Optimization in Large Systems</p>
              <p class="card-title-grey text-center">
                Performance is one of the main quality criteria of a computer system. In this talk, you will have an overview of what is this foreign concept. You'll also learn how to approach performance optimization in the context of a system
                composed of a large codebase and many servers.
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>

        <!-- Nicolas Cuillery -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/nicolas_c.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Nicolas Cuillery's talk</h4>
                  <h6 class="card-title-grey"></h6>
                </div>
              </a>
              <p class="title bold">Coming Soon</p>
              <p class="card-title-grey text-center">
                Description Coming Soon
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>

        <!-- Kathy Giori -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/kgiori.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Kathy Giori's talk</h4>
                  <h6 class="card-title-grey">@kgiori</h6>
                </div>
              </a>
              <p class="title bold">Mozilla's Internet of Things (IoT) Framework Puts You in Control</p>
              <p class="card-title-grey text-center">
                Typical industry approaches to IoT teach the approach of bridging device data to the cloud. In such cases, end-users have to download numerous smartphone apps, each with its own subscriber account. Mixing and matching across brands
                is typically hard. If an IoT startup goes out of business, early-adopter customers end up with useless gear. Mozilla's approach is to break down proprietary silo's and decentralize IoT, putting data in the hands of users. Our open
                source Things Gateway implementation bridges IoT data to the web. Our numerous open source libraries in several
                languages help drive a standards-based web of things approach. Come learn how to build and operate your own private smart home, using the Mozilla IoT framework.
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>

        <!-- Mallar Chakravarty -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/chakravarty.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Mallar Chakravarty's talk</h4>
                  <h6 class="card-title-grey">@mallarchkrvrty1</h6>
                </div>
              </a>
              <p class="title bold">Coming Soon</p>
              <p class="card-title-grey text-center">
                Description Coming Soon
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>

        <!-- Olivier Bilodeau -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/obilodeau.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Olivier Bilodeau's talk</h4>
                  <h6 class="card-title-grey">@obilodeau</h6>
                </div>
              </a>
              <p class="title bold">Cybersecurity from the Trenches</p>
              <p class="card-title-grey text-center">
                The field of Cybersecurity can appear intimidating at first. It is a field of computer science that is adversarial by definition: protecting assets against enemies. What makes it worse, defenders need to get everything right, one
                mistake is enough for adversaries to compromise an organization. Lastly, everyone in that field on Twitter takes themselves so seriously...
                This presentation will explore what cybersecurity has to offer from a software engineering perspective. Reverse-engineering, malware analysis and research, intrusion testing (aka ethical hacking), forensics and incident response are
                all opportunities that are interesting in themselves or that require solid tooling that engineers, with knowledge of cybersecurity, needs to build. Punctuated by stories and anecdotes, we might demonstrate that "Cyberwar is a thing"
                and this might be just why we need an influx of talented engineers in that field right now.
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>


        <div class="col-md-3"></div> <!-- blanks -->
        <!-- Andrew Louis -->
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img src="../assets/img/faces/andrew_l.png" alt="...">
            </div>
            <div class="card-body">
              <a>
                <div class="author">
                  <h4 class="card-title-black">Andrew Louis's talk</h4>
                  <h6 class="card-title-grey">@hyfen</h6>
                </div>
              </a>
              <p class="title bold">Coming Soon</p>
              <p class="card-title-grey text-center">
                Description Coming Soon
              </p>
            </div>
            <div class="card-footer text-center ">
            </div>
          </div>
        </div>
        <div class="col-md-3"></div> <!-- blanks -->

      </div>
    </div>
  </div>