<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/other/website-landing.png')">
    <div class="container">
      <div>
        <h1 class="main-title"> 404 - Page Not Found <i class="fas fa-exclamation-triangle"></i></h1>
      </div>
      <div class="col-md-7" style="padding:0; padding-top:2%;">
        <p>Oops! It would seem we have lost a page, or maybe this page never existed, or are we brains in vat? Try going back to the home page, and if something wrong persists, email us at <a href="mailto:web@cusec.net?subject=feedback">web@cusec.net</a></p>
        <br>
        <a routerLink="/" class="btn btn-danger btn-round"> <i class="fas fa-arrow-circle-left"></i> Home</a>
      </div>
    </div>
  </div>
</div>