<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/other/website-landing.png')">

    <div class="container">
      <div class="col-md-9">
        <h1 class="main-title"> >_ Canadian University Software Engineering Conference</h1>
      </div>

      <div class="col-md-7" style="padding:0; padding-top:2%;">
        <p>CUSEC brings together passionate students from across Canada. Meet like-minded peers, learn from world-renowned experts and discover career opportunities with exciting companies</p>
        <h4>January 10 - 11 - 12, 2019</h4>
        <h5>Montreal, Canada</h5>
        <br>

        <div class="row">
          <div class="col-md-12">
            <a><img src="assets/img/other/tickets/sold-out/oct-so.png" class="tickets-small" data-toggle="tooltip" data-placement="bottom" title="First Round Student Tickets Sold Out"></a>
            <a><img src="assets/img/other/tickets/sold-out/nov-1-so.png" class="tickets-small" data-toggle="tooltip" data-placement="bottom" title="Second Round Student Tickets Coming Soon"></a>
            <a><img src="assets/img/other/tickets/open/nov-2-open.png" class="tickets-small" data-toggle="tooltip" data-placement="bottom" title="Third Round Student Tickets Coming Soon"></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="about-main" class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">What's CUSEC?</h2>
        <h5 class="description" align="justify">CUSEC is a non profit conference event organized annually for students, by students from across Canada. Our mission is to educate and expose students to a diverse range of areas in software engineering and computer science. We empower them to discover knowledgeable speakers, connect with sponsoring companies, and make lifelong friends, all in a safe and comfortable space. We take great pride in hosting unique and knowledgeable speakers that come from many backgrounds in the software industry. Notable past speakers include Alexis Ohanian, Jeff Hodges, Richard Stallman, Julia Evans, and Liz Abinante.</h5>
        <br>
      </div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="fas fa-chalkboard-teacher"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Attend Workshops</h4>
            <p class="description">Get exceptional industry tutelage. Learn new technologies on the fly. Elevate yourself. </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="fab fa-hooli"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Meet Sponsors</h4>
            <p>Network with recruiters from the top companies that redefine tech everyday. Time to update your resume.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="fas fa-users"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Learn from Speakers</h4>
            <p>Get insight on the hottest topics and challenges in tech today. Engage with some of the brightest mind out there.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="fas fa-comments"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Socialize</h4>
            <p>Meet like-minded peers, and fellow students from across North-America. Make lifelong friendships.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="section">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Be a part of the Adventure</h2>
      </div>
    </div>
  </div>
</div>

<!-- UPLOAD AND FORM SECTION -->
<div class="row text-center" style="margin: 0 auto">
  <div class="col-md-4 square beige">
    <div>
      <h2><i class="fas fa-bolt"></i></h2>
      <h2>Lightning Talks</h2>
      <p class="padded">Share your ideas and thoughts on a topic of your choosing with the rest of the conference. For 5 mins you are the oracle.</p>
      <a href="https://goo.gl/forms/KriUhtMN5hCvVH4g1" target="_blank"><button type="button" class="btn btn-primary">Lightning Talks</button></a>
    </div>
  </div>

  <div class="col-md-4 square beige-dark">
    <div>
      <h2><i class="fas fa-file"></i></h2>
      <h2>Resume Upload</h2>
      <p class="padded">Send your resume to all our sponsors all in one click! To participate in the Resume Review, you should also submit your resume here.</p>
      <a href="https://goo.gl/forms/imijudVRyT00ELey1" target="_blank"><button type="button" class="btn btn-primary">Resume Upload</button></a>
    </div>
  </div>


  <div class="col-md-4 square beige">
    <div>
      <!-- <h2><i class="fas fa-campground"></i></h2> -->
      <h2><i class="fas fa-microphone"></i></h2>
      <h2>DemoCamp</h2>
      <p class="padded">Are you the next PiedPiper™ who is Mo-Lo-So? This is your chance to show everyone what you or your team have been working on!</p>
      <a href="https://goo.gl/forms/yfJROnk3DEAaDcv03" target="_blank"><button type="button" class="btn btn-primary btn-color">Demo Camp</button></a>
    </div>
  </div>
</div>

<!-- END UPLOAD AND FORM SECTION -->



<div id="venue" class="section section-dark text-center">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <h2 class="title">Venue</h2>
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <a href="https://www.marriott.com/hotels/travel/yulcc-montreal-marriott-chateau-champlain/" target="_blank"><img src="/assets/img/other/hotel_res.png" alt="..."></a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Marriott Chateau Champlain</h4>
            <p class="card-description text-center">
              1050 Rue de la Gauchetière O, Montréal, QC H3B 4C9
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <h2 class="title">Contact Us</h2>
        <p class="padded-low" style="color:white;">For information about booking a room at the hotel during the event, email: <a href="mailto:info@cusec.net?subject=Bookings">info@cusec.net</a></p>
        <p class="padded-low" style="color:white;">For information about about this website, please email: <a href="mailto:web@cusec.net?subject=Website">web@cusec.net</a></p>
        <p class="padded-low" style="color:white;"> For questions about the event and the schedule, email the <strong>Head Delegate</strong> for your University.</p>
        <a routerLink="/organizers" class="btn btn-danger btn-round">Find Your Delegate <i class="fas fa-arrow-circle-right"></i></a>
      </div>

    </div>
  </div>
</div>


<!-- Start google maps Iframe -->
<div class="iframe-container">
  <div class="gmap_canvas">
    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Marriott%20Chateau%20Champlain&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </div>
  <style>
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      height: 600px;
      width: 1900px;
    }
  </style>
</div>

<div class="section">
  <div class="col-md-8 ml-auto mr-auto text-center">
    <h2 class="title"><i class="fas fa-users"></i> Past Sponsors</h2>
    <h3>CUSEC is only possible with the support from our amazing sponsors</h3>
  </div>

  <div class="container">
    <div class="row example-page">
      <div class="col-md-5 ml-auto mr-auto text-center">
        <a href="http://www-03.ibm.com/employment/index.shtml" target="_blank"><img src="assets/img/companies/G/IBM/ibm.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 60%"></a>
      </div>
      <div class="col-md-4 ml-auto mr-auto text-center">
        <a href="https://www.cae.com" target="_blank"><img src="assets/img/companies/G/CAE/cae.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 65%; padding-top:6%; padding-right: 4%;"></a>
      </div>
    </div>
    <br>

    <div class="row example-page">
      <div class="col-md-4 text-center">
        <a href="https://www.morganstanley.com" target="_blank"><img src="assets/img/companies/G/MS/ms.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.cse-cst.gc.ca/en" target="_blank"><img src="assets/img/companies/G/CSE/cse.png" alt="Rounded Image" class=" img-responsive" style="width: 100%; padding-top:23%;"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.kinaxis.com/en" target="_blank"><img src="assets/img/companies/G/Kinaxis/kinaxis_one.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%"></a>
      </div>
    </div>
    <br>

    <div class="row example-page">
      <div class="col-md-4 text-center">
        <a href="https://www.rbcroyalbank.com" target="_blank"><img src="assets/img/companies/G/RBC/RBC.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 50%"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.windriver.com/" target="_blank"><img src="assets/img/companies/G/Windriver/wind.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 70%"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.yelp.ca" target="_blank"><img src="assets/img/companies/G/Yelp/yelp_1.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 80%"></a>
      </div>
    </div>
    <br>

    <div class="row example-page">
      <div class="col-md-3 text-center">
        <a href="https://www.capitalone.ca" target="_blank"><img src="assets/img/companies/B/capital/capital.png" alt="" class="img-rounded img-responsive" style="width: 90%"></a>
      </div>
      <div class="col-md-3 text-center">
        <a href="https://www.sap.com" target="_blank"><img src="assets/img/companies/B/sap/sap.png" alt="" class="img-rounded img-responsive" style="width: 80%"></a>
      </div>
      <div class="col-md-3 text-center">
        <a href="https://www.shopify.ca" target="_blank"><img src="assets/img/companies/B/shopify/shopify.png" alt="" class="img-rounded img-responsive" style="width: 100%"></a>
      </div>
      <div class="col-md-3 text-center">
        <a href="https://www.ubisoft.com" target="_blank"><img src="assets/img/companies/B/ubisoft/ubisoft.png" alt="" class="img-rounded img-responsive" style="width: 50%"></a>
      </div>
    </div>
    <br>

    <div class="col-md-10 ml-auto mr-auto text-center">
      <h3 class="title">Don't see <strong>your company</strong> up there? <strong>Reach out to us</strong>, we can fix that.</h3>
      <a href="mailto:sponsor@cusec.net" class="btn btn-info btn-round" style="margin-right:1%;">Email Us <i class="fas fa-envelope"></i></a>
    </div>

  </div>
</div>


<!-- Relive CUSEC -->
<div class="section section-dark purple">
  <div class="col-md-8 ml-auto mr-auto text-center">
    <h2 class="title">Relive <strong id="relive">CUSEC 2018</strong></h2>
    <p class="white-text">Here are some of the best moments captured from last year. For all the workshops given, talks made and friendships created a year ago, we are working hard to make CUSEC 2019 this coming January, even better.</p>
  </div>
  <div class="container">
    <div class="row example-page">
      <div class="col-md-4 text-center">
        <img src="assets\img\media\cusec-10.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
      </div>
      <div class="col-md-4 text-center">
        <img src="assets\img\media\cusec-12.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
      </div>
      <div class="col-md-4 text-center">
        <img src="assets\img\media\cusec-11.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row example-page">
      <div class="col-md-4 text-center">
        <img src="assets\img\media\cusec-4.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
      </div>
      <div class="col-md-4 text-center">
        <img src="assets\img\media\cusec-5.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
      </div>
      <div class="col-md-4 text-center">
        <img src="assets\img\media\cusec-6.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row example-page">
      <div class="col-md-4 text-center">
        <img src="assets\img\media\cusec-7.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
      </div>
      <div class="col-md-4 text-center">
        <img src="assets\img\media\cusec-2.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
      </div>
      <div class="col-md-4 text-center">
        <img src="assets\img\media\cusec-9.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-8 ml-auto mr-auto text-center">
    <a href="https://www.facebook.com/cusecofficial" target="_blank" class="btn btn-rose btn-round" style="margin-right:1%;">See more!</a>
  </div>
</div>


<!-- FAQ -->
<div class="section">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title"><i class="fas fa-question-circle"></i> FAQ</h2>
        <p>Here are some answers to your questions. If we haven't answered your question, feel free to reach out!</p>
      </div>

      <div class="col-md-6">
        <h4><strong>When and Where is CUSEC Happening?</strong></h4>
        <p class="faq">CUSEC 2019 will be held on January 10-11-12, at the Marriott Chateau Champlain Hotel in the heart of Montreal. More information about the location and schedule will be made available shortly. </p>

        <h4><strong>How can I get a ticket?</strong></h4>
        <p class="faq">The best way to purchase a ticket will be through the event's page when the tickets go on sale. There will be three Rounds of tickets for both students and professionals. The 1st round starts <strong>October 30th</strong>, 2nd <strong>November 9th</strong>          and 3rd <strong>November 19th</strong> at 7PM EST. You can also reach out to the Head Delegate of your University for more information. Look on the <a routerLink="/schools">Schools</a> page to find your delegate.
        </p>

        <h4><strong>When will the schedule be made available?</strong></h4>
        <p class="faq">The schedule will be up a few weeks before the event. We are working around the clock to create the best conference experience for you, promised.</p>
      </div>
      <div class="col-md-6">
        <h4><strong>Who can attend?</strong></h4>
        <p class="faq">High school, undergraduate and graduate students from all across Canada can attend. Professionals can also purchase a ticket to attend the event. The ticket are now available through the links provided at the top of the website.</p>

        <h4><strong>How do I get there?</strong></h4>
        <p class="faq">By air, land or sea. You can drive to the venue, although keep in mind that parking in Downtown montreal is limited. Get in touch with your Head Delegate. They are in the best position to tell you if buses are being organized or if carpooling
          will be available. Many university delegations from outside of Montreal also travel in group, so make sure to join up with them for the best CUSEC experience.</p>

        <h4><strong>What are the costs of attending?</strong></h4>
        <p class="faq">We are working hard to reduce the price of the tickets for the event. Information about the price of the tickets for the 2019 edition will be made available shortly, stay tuned.</p>
      </div>

    </div>
    <div class="row justify-content-md-center sharing-area text-center">
      <div class="text-center col-md-12 col-lg-8">
        <h3 class="padded">Be part of the conversation!</h3>
      </div>
      <div class="text-center col-md-12 col-lg-8">
        <a href="https://twitter.com/cusec" class="btn btn-twitter btn-round btn-twitter-bg " target="_blank"><i class="fab fa-twitter" ></i> Twitter</a>
        <a href="https://www.facebook.com/cusecofficial" class="btn btn-facebook btn-round btn-facebook-bg " target="_blank"><i class="fab fa-facebook" ></i> Facebook</a>
        <a href="https://www.youtube.com/channel/UCZ7j8F6h1CxD-uC0od9rHBw/" class="btn btn-youtube btn-round btn-youtube-bg " target="_blank"><i class="fab fa-youtube" ></i> Youtube</a>
      </div>
    </div>
  </div>
</div>