<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/website-landing.png')">
    <div class="container">
      <div>
        <h1 class="main-title"> >_ Canadian University Software Engineering Conference</h1>
      </div>

      <h2>Make your mark in the tech world.</h2>
      <div class="col-md-7" style="padding:0; padding-top:2%;">
        <p>CUSEC brings together passionate students from across Canada. Meet like-minded peers, learn from world-renowned experts and discover career opportunities with exciting companies</p>
        <hr>
        <h4>January 10th - 12th, 2019</h4>
        <h5>Montreal, Canada</h5>
      </div>
    </div>
  </div>
</div>


<!-- <div class="main"> -->
<div class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">Let's talk Education</h2>
        <h5 class="description" align="justify">CUSEC is a non profit conference event organized annually for students, by students from across Canada. Our mission is to educate and expose students to a diverse range of areas in software engineering and computer science. We empower them to discover knowledgeable speakers, connect with sponsoring companies, and make lifelong friends, all in a safe and comfortable space. We take great pride in hosting unique and knowledgeable speakers that come from many backgrounds in the software industry. Notable past speakers include Alexis Ohanian, Jeff Hodges, Richard Stallman, Julia Evans, and Liz Abinante.</h5>
        <br>
        <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
      </div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <!-- <i class="nc-icon nc-album-2"></i> -->
            <i class="fas fa-chalkboard-teacher"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Attend Workshops</h4>
            <p class="description">Get exceptional industry tutelage. Learn new technologies on the fly. Elevate yourself. </p>
            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <!-- <i class="nc-icon nc-chart-bar-32"></i> -->
            <i class="fab fa-hooli"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Meet Sponsors</h4>
            <p>Network with recruiters from the top companies that redefine tech everyday. Time to update your resume.</p>
            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <!-- <i class="nc-icon nc-bulb-63"></i> -->
            <i class="fas fa-users"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Learn from Speakers</h4>
            <p>Get insight on the hottest topics and challenges in tech today. Engage with some of the brightest mind out there.</p>
            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <!-- <i class="nc-icon nc-sun-fog-29"></i> -->
            <i class="fas fa-comments"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Socialize</h4>
            <p>Meet like-minded peers, and fellow students from across North-America. Make lifelong friendships.</p>
            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>





<div class="section section-dark text-center">
  <div class="container">
    <div class="row">


      <div class="col-md-4">
        <h2 class="title">Venue</h2>
        <div class="card card-profile card-plain">
          <!-- <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
            </div> -->
          <div class="card-body">
            <!-- <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Robert Orben</h4>
                  <h6 class="card-category">Developer</h6>
                </div>
              </a> -->
            <p class="card-description text-center">
              Hotel Bonaventure Montréal 900 De La Gauchetiere W H5A 1E4, Montréal, QC Canada
            </p>
          </div>
          <div class="card-footer text-center">
            <!-- <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a> -->
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <h2 class="title">Contact Us</h2>
        <ul style="color:white;">
          <li>For information about booking a room at the hotel during the event, email: info@cusec.net</li>
          <br>
          <li>For questions about the event and the schedule, email the <strong>Head Delegate</strong> for your University.</li>
        </ul>
        <br>
        <a href="mailto:info@cusec.net" class="btn btn-info btn-round" style="margin-right:1%;">Email Us <i class="fas fa-envelope"></i></a>
        <a routerLink="/" class="btn btn-danger btn-round">Find Your Delegate <i class="fas fa-arrow-circle-right"></i></a>

      </div>



    </div>
  </div>
</div>




<div class="iframe-container">
  <div class="gmap_canvas">
    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Bonaventure%20Hotel&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </div>
  <style>
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      height: 600px;
      width: 1900px;
    }
  </style>
</div>

<div class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">Let's talk Education</h2>
        <h5 class="description" align="justify">CUSEC is a non profit organization organized annually for students, by students from across Canada. Our mission is to educate and expose students to a diverse range of areas in software engineering and computer science. We empower them to discover knowledgeable speakers, connect with sponsoring companies, and make lifelong friends, all in a safe and comfortable space. We take great pride in hosting unique and knowledgeable speakers that come from many backgrounds in the software industry. Notable past speakers include Alexis Ohanian, Jeff Hodges, Richard Stallman, Julia Evans, and Liz Abinante.</h5>
        <br>
        <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
      </div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <!-- <i class="nc-icon nc-album-2"></i> -->
            <i class="fas fa-chalkboard-teacher"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Attend Workshops</h4>
            <p class="description">Get exceptional industry tutelage. Learn new technologies on the fly. Elevate yourself. </p>
            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <!-- <i class="nc-icon nc-chart-bar-32"></i> -->
            <i class="fab fa-hooli"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Meet Sponsors</h4>
            <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <!-- <i class="nc-icon nc-bulb-63"></i> -->
            <i class="fas fa-users"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Learn from Speakers</h4>
            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <!-- <i class="nc-icon nc-sun-fog-29"></i> -->
            <i class="fas fa-comments"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Socialize</h4>
            <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>