<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/website-landing.png')">
    <div class="container">
      <div>
        <h1 class="main-title"> >_ Canadian University Software Engineering Conference</h1>
      </div>

      <h2>Make your mark in the tech world.</h2>
      <div class="col-md-7" style="padding:0; padding-top:2%;">
        <p>CUSEC brings together passionate students from across Canada. Meet like-minded peers, learn from world-renowned experts and discover career opportunities with exciting companies</p>
        <hr>
        <h4>January 10 - 11 - 12, 2019</h4>
        <h5>Montreal, Canada</h5>
      </div>
    </div>
  </div>
</div>


<!-- <div class="main"> -->
<div class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">Let's talk Education</h2>
        <h5 class="description" align="justify">CUSEC is a non profit conference event organized annually for students, by students from across Canada. Our mission is to educate and expose students to a diverse range of areas in software engineering and computer science. We empower them to discover knowledgeable speakers, connect with sponsoring companies, and make lifelong friends, all in a safe and comfortable space. We take great pride in hosting unique and knowledgeable speakers that come from many backgrounds in the software industry. Notable past speakers include Alexis Ohanian, Jeff Hodges, Richard Stallman, Julia Evans, and Liz Abinante.</h5>
        <br>
        <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
      </div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <!-- <i class="nc-icon nc-album-2"></i> -->
            <i class="fas fa-chalkboard-teacher"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Attend Workshops</h4>
            <p class="description">Get exceptional industry tutelage. Learn new technologies on the fly. Elevate yourself. </p>
            <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <!-- <i class="nc-icon nc-chart-bar-32"></i> -->
            <i class="fab fa-hooli"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Meet Sponsors</h4>
            <p>Network with recruiters from the top companies that redefine tech everyday. Time to update your resume.</p>
            <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <!-- <i class="nc-icon nc-bulb-63"></i> -->
            <i class="fas fa-users"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Learn from Speakers</h4>
            <p>Get insight on the hottest topics and challenges in tech today. Engage with some of the brightest mind out there.</p>
            <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <!-- <i class="nc-icon nc-sun-fog-29"></i> -->
            <i class="fas fa-comments"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Socialize</h4>
            <p>Meet like-minded peers, and fellow students from across North-America. Make lifelong friendships.</p>
            <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>





<div class="section section-dark text-center">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <h2 class="title">Venue</h2>
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <a href="#avatar"><img src="/assets/img/other/hotel_res.png" alt="..."></a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Marriott Chateau Champlain</h4>
            <p class="card-description text-center">
              1050 Rue de la Gauchetière O, Montréal, QC H3B 4C9
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <h2 class="title">Contact Us</h2>
        <p style="color:white;">For information about booking a room at the hotel during the event, email: <a href="mailto:info@cusec.net?subject=Bookings">info@cusec.net</a></p>
        <br>
        <p style="color:white;"> For questions about the event and the schedule, email the <strong>Head Delegate</strong> for your University.</p>
        <br>
        <a href="mailto:info@cusec.net" class="btn btn-info btn-round" style="margin-right:1%;">Email Us <i class="fas fa-envelope"></i></a>
        <a routerLink="/organizers" class="btn btn-danger btn-round">Find Your Delegate <i class="fas fa-arrow-circle-right"></i></a>
      </div>

    </div>
  </div>
</div>


<!-- Start google maps Iframe -->
<div class="iframe-container">
  <div class="gmap_canvas">
    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Marriott%20Chateau%20Champlain&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </div>
  <style>
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      height: 600px;
      width: 1900px;
    }
  </style>
</div>

<!-- <div class="section section-beige">
  <div class="container">
    <div class="section section-beige" id="carousel">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title"><strong>Relive CUSEC 2018</strong></h2>
          </div>
          <div class="col-md-8 ml-auto mr-auto">
            <div class="card page-carousel">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="d-block img-fluid" src="assets\img\media\CUSEC 2018 - 13.jpeg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                      <p>We. CUSEC.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="assets\img\media\CUSEC 2018 - 12.jpeg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                      <p>Speakers</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="assets\img\media\CUSEC 2018 - 11.jpeg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                      <p>Career Fair</p>
                    </div>
                  </div>
                </div>

                <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                  <span class="sr-only">Previous</span>
              </a>
                <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                  <span class="sr-only">Next</span>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
 -->

<!-- <div class="section">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title"><strong>Numbers from last year</strong></h2>
      </div>

      <div class="col-md-6">

        <h3 class="title"><strong><i class="fas fa-users"></i> 600 Attendees</strong></h3>
        <h3 class="title"><strong><i class="fas fa-comments"></i> 8 Workshops</strong></h3>
        <h3 class="title"><strong><i class="fas fa-school"></i> 12 Universities</strong></h3>


      </div>
      <div class="col-md-6">

        <h3 class="title"><strong><i class="fas fa-users"></i> 20 Sponsors</strong></h3>
        <h3 class="title"><strong><i class="fas fa-user-alt"></i> 15 Speakers</strong></h3>
        <h3 class="title"><strong>Twitter</strong></h3>


      </div>


    </div>
  </div>
</div> -->

<!-- <div class="section">
  <div class="col-md-8 ml-auto mr-auto text-center">
    <h2 class="title">Relive CUSEC 2018</h2>
    <p>Here are some answers to your questions. If we haven't answered your question, feel free to reach out!</p>
  </div>

  <div class="cards-flex">
    <img class="event-img" src="assets\img\media\CUSEC 2018 - 1.jpeg" alt="">
    <img class="event-img" src="assets\img\media\CUSEC 2018 - 2.jpeg" alt="">
    <img class="event-img" src="assets\img\media\CUSEC 2018 - 3.jpeg" alt="">
    <img class="event-img" src="assets\img\media\CUSEC 2018 - 13.jpeg" alt="">
    <img class="event-img" src="assets\img\media\CUSEC 2018 - 12.jpeg" alt="">
    <img class="event-img" src="assets\img\media\CUSEC 2018 - 11.jpeg" alt="">
    <img class="event-img" src="assets\img\media\CUSEC 2018 - 11.jpeg" alt="">
    <img class="event-img" src="assets\img\media\CUSEC 2018 - 11.jpeg" alt="">
  </div>
</div> -->

<div class="section section-dark purple">
  <div class="col-md-8 ml-auto mr-auto text-center">
    <h2 class="title">Relive CUSEC 2018</h2>
    <p class="white-text">Here are some of the best moments captured from last year. For all the workshops given, talks made and frienships created a year ago, we are working hard to make CUSEC 2019 this coming January, even better.</p>
  </div>
  <div class="container">
    <div class="row example-page">
      <div class="col-md-4 text-center">
        <img src="assets\img\media\CUSEC 2018 - 10.jpeg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
      </div>
      <div class="col-md-4 text-center">
        <img src="assets\img\media\CUSEC 2018 - 12.jpeg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
      </div>
      <div class="col-md-4 text-center">
        <img src="assets\img\media\CUSEC 2018 - 11.jpeg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row example-page">
        <div class="col-md-4 text-center">
          <img src="assets\img\media\CUSEC 2018 - 4.jpeg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
        </div>
        <div class="col-md-4 text-center">
          <img src="assets\img\media\CUSEC 2018 - 5.jpeg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
        </div>
        <div class="col-md-4 text-center">
          <img src="assets\img\media\CUSEC 2018 - 6.jpeg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row example-page">
          <div class="col-md-4 text-center">
            <img src="assets\img\media\CUSEC 2018 - 7.jpeg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
          </div>
          <div class="col-md-4 text-center">
            <img src="assets\img\media\CUSEC 2018 - 2.jpeg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
          </div>
          <div class="col-md-4 text-center">
            <img src="assets\img\media\CUSEC 2018 - 9.jpeg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-8 ml-auto mr-auto text-center">
        <a href="https://www.facebook.com/cusecofficial" target="_blank" class="btn btn-rose btn-round" style="margin-right:1%;">See more!</a>
      </div>

    </div>
  </div>
</div>









<!-- FAQ -->
<div class="section">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title"><i class="fas fa-question-circle"></i> FAQ</h2>
        <p>Here are some answers to your questions. If we haven't answered your question, feel free to reach out!</p>
      </div>

      <div class="col-md-6">

        <h4>When and Where is CUSEC Happening?</h4>
        <p class="faq">CUSEC 2019 will be held on January 10-11-12, at the Marriott Chateau Champlain Hotel in the heart of Montreal. More information about the location and schedule will be made available shortly. </p>

        <h4>How can I get a ticket?</h4>
        <p class="faq">The best way to purchase a ticket will be through the event's page when the tickets go on sale. You can also reach out to the Head Delegate of your University for more information. Look on the <a routerLink="/schools">Schools</a> page to find
          your delegate.
        </p>

        <h4>When will the schedule be made available?</h4>
        <p class="faq">The schedule will be up a few weeks before the event. We are working around the clock to create the best conference experience for you, promised.</p>



      </div>
      <div class="col-md-6">

        <h4>Who can attend?</h4>
        <p class="faq">High school, undergraduate and graduate students from all across Canada can attend. Professionals can also purchase a ticket to attend the event.</p>

        <h4>How do I get there?</h4>
        <p class="faq">By air, land or sea. You can drive to the venue, although keep in mind that parking in Downtown montreal is limited. Get in touch with your Head Delegate. He/She might be in the best position to tell you if buses are being organized or carpooling
          will be available. </p>

        <h4>What are the costs of attending?</h4>
        <p class="faq">We are working hard to reduce the price of the tickets for the event. Information about the price of the tickets for the 2019 edition will be made available shortly, stay tuned.</p>

      </div>


    </div>
    <div class="row justify-content-md-center sharing-area text-center">
      <div class="text-center col-md-12 col-lg-8">
        <h3>Be part of the conversation!</h3>
      </div>
      <div class="text-center col-md-12 col-lg-8">
        <a href="https://twitter.com/cusec" class="btn btn-twitter btn-round btn-twitter-bg " target="_blank" style="padding: 3%;"><i class="fab fa-twitter" ></i> Twitter</a>
        <a href="https://www.facebook.com/cusecofficial" class="btn btn-facebook btn-round btn-facebook-bg " target="_blank" style="padding: 3%;"><i class="fab fa-facebook" ></i> Facebook</a>
        <a href="https://www.youtube.com/channel/UCZ7j8F6h1CxD-uC0od9rHBw/" class="btn btn-youtube btn-round btn-youtube-bg " target="_blank" style="padding: 3%;"><i class="fab fa-youtube" ></i> Youtube</a>
        <!-- <a href="mailto:info@cusec.net" class="btn btn-info btn-round" style="margin-right:1%;">Email Us <i class="fas fa-envelope"></i></a> -->
      </div>
    </div>
  </div>
</div>