<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">CUSEC 2019</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a routerLink="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/schedule" class="nav-link">Schedule</a></li>
        <li class="nav-item"><a routerLink="/speakers" class="nav-link">Speakers</a></li>
        <li class="nav-item"><a routerLink="/sponsors" class="nav-link">Sponsors</a></li>
        <li class="nav-item"><a routerLink="/schools" class="nav-link">Schools</a></li>
        <li class="nav-item"><a routerLink="/organizers" class="nav-link">Team</a></li>
        <!-- TODO: change venue for a schroll down -->
        <li class="nav-item"><a routerLink="/venue" class="nav-link">Venue</a></li>
        <li class="nav-item"><a routerLink="/workshops" class="nav-link">Workshops</a></li>
      </ul>
    </div>
  </div>
</nav>
