<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" style="color: #4d4d4d;" color-on-scroll="50">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
      <a class="navbar-brand" routerLink="/">CUSEC 2019</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Schedule" data-placement="bottom" routerLink="/schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Speakers" data-placement="bottom" routerLink="/speakers">Speakers</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Schedule" data-placement="bottom" routerLink="/sponsors">Sponsors</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" pageScroll href="#about-main" rel="tooltip" title="About" data-placement="bottom">About</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Team" data-placement="bottom" routerLink="/organizers">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Schools" data-placement="bottom" routerLink="/schools">Schools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="CODE" data-placement="bottom" data-toggle="modal" data-target="#myModal" href=""><i class="fas fa-book"></i> Code of Conduct</a>
        </li>
        <li class="nav-item">
          <a href="https://guestli.st/586821" target="_blank" class="btn btn-tickets btn-round disabled" style="margin-right:1%;">Student Ticket <i class="fa fa-ticket-alt"></i></a>
        </li>
        <li class="nav-item">
          <!-- <a href="https://guestli.st/586821" target="_blank" class="btn btn-tickets-pro btn-round" style="margin-right:1%;" data-toggle="popover" data-trigger="hover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Professional Ticket <i class="fa fa-ticket-alt"></i></a> -->
          <a href="https://guestli.st/586821" target="_blank" class="btn btn-tickets-pro btn-round" style="margin-right:1%;">Pro Ticket <i class="fa fa-ticket-alt"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>





<!-- modal for code of conduct-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel"><i class="nc-icon nc-book-bookmark"></i> Code of Conduct</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button> -->
      </div>
      <div class="modal-body">
        <h6>All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensure a safe environment for everybody.</h6>
        <p class="legal-text">We do not tolerate harassment of conference participants in any form. Conference participants violating these rules will be warned and may be expelled from the venue without a refund. The conference may also escalate and contact local authorities
          depending on the nature and severity of the violation. Harassment includes offensive comments (verbal or otherwise) related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race,
          ethnicity, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
          Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, social media.
        </p>
        <br>
        <h6>Participants asked to stop any harassing behavior are expected to comply immediately.</h6>
        <br>
        <p class="legal-text">Sponsors and volunteers are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, offensive clothing/uniforms/costumes, or otherwise create a discriminatory environment. If a participant engages
          in harassing behavior, the conference organisers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund. If you are being harassed, notice that someone else is being harassed,
          or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified as they'll be wearing branded t-shirts. Conference staff will be happy to help participants contact hotel/venue security
          or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance. We expect participants to follow these rules at the conference venue as well
          as any conference-related social events.</p>
        <hr>
        <h6>Contact Information</h6>
        <ul>
          <li><strong>Email Address</strong>: <a href="mailto:incidents@cusec.net"> incidents@cusec.net</a></li>
          <li><strong>Non-Emergency Local Law Enforcement (SPVM)</strong> : +1 (514) 280 - 2222</li>
          <li><strong>Emergency and Urgent Calls</strong>: Dial 911</li>
        </ul>

      </div>
      <div class="modal-footer">
        <!-- <div class="left-side">
          <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button>
        </div>
        <div class="divider"></div> -->
        <div class="full-side">
          <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">I Understand</button>
        </div>
      </div>
    </div>
  </div>
</div>