<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <!-- <li><a href="https://twitter.com/cusec"><i class="fab fa-twitter-square"></i></a></li> -->
          <li><a href="http://www.berniemaxima.github.io">made with <i class="fa fa-heart heart"></i> by Bernie.</a></li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">copyright © 2018 CUSEC. all rights reserved.</span>
      </div>
    </div>
  </div>
</footer>
<!-- copyright © <script>document.write(new Date().getFullYear())</script>  ALL RIGHTS RESERVED. -->