<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li> <a class="nav-link" rel="tooltip" title="CODE" data-placement="bottom" routerLink="/codeofconduct" href=""><i class="fas fa-book"></i> Code of Conduct</a></li>
          <li><a data-toggle="tooltip" data-placement="top" title="Javascript, NPM, Bootstrap, Angular, FontAwesome, PaperKit, Open Source">Powered <i class="fas fa-bolt bolt"></i> by</a></li>
          <li><a href="https://berniemaxima.github.io/" target="_blank">Made w. <i class="fa fa-heart heart"></i> by Bernie</a></li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">copyright © 2019 CUSEC. all rights reserved.</span>
      </div>
    </div>
  </div>
</footer>