<div class="page-header section-dark" style="background-image: url('assets/img/other/sponsor-landing.png')">
  <div class="container text-center">
    <h2><i class="fas fa-envelope-open"></i></h2>
    <h2 class="main-title">Sponsors, You're Invited.</h2>
    <br>
    <p>We would like to invite you to join us at CUSEC 2019, Canada's Annual Software Engineering Conference, hosted annually in the heart of Montreal. The Canadian University Software Engineering Conference (CUSEC) is an annual event that brings students
      from across the country together to learn, network, and talk about software. Started in 2002 by students with a passion for software, hosted in the heart of Montreal, CUSEC has grown over 16 years and now proudly hosts over 500 students from universities
      all across the nation. When you attend our event, all of Canada becomes your audience.</p>

    <br>
    <a class="btn btn-danger btn-round control" style="color:#FFFFFF;">Tell me more <i class="fas fa-arrow-circle-down"></i></a>
    <a href="mailto:sponsor@cusec.net?subject=Sponsorship_Opportunity" class="btn btn-info btn-round" style="margin-right:1%;">Get in Touch <i class="fas fa-envelope"></i></a>
  </div>
</div>

<div id="whycusec" class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">What you will gain from CUSEC</h2>
        <h5>CUSEC isn’t just an event for students and professional, it’s an event for you as well. As a sponsor, we will work closely with you to ensure that you get the most out of the 3 day experience. We want you to get the most out of CUSEC and join us in making the best tech conference experience possible.
          We have created a sponsorship package tailored to offer a wide range of services for brand building and recruitment and if you have any questions, please feel free to reach out to us at <a href="mailto:sponsor@cusec.net?subject=Sponsorship_Opportunity" data-toggle="tooltip" data-placement="bottom" title="Best Way to Reach Us!">sponsor@cusec.net</a>.
          We look forward to hearing from you to make CUSEC 2019 the best one yet. </h5>
        <br>
      </div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="fab fa-hooli"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Branding</h4>
            <p class="description">Amazing way to create rapport with tech students and professionals and promote your brand along with the values of your company. </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="fas fa-users"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Recruitment</h4>
            <p>You will have 3-day access to more than 500 tech students and leaders. It truly is an outstanding opportunity to meet with our first-class talent and fill your internship and new graduate positions.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="fas fa-chalkboard"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Workshops & APIs</h4>
            <p>Workshops will allow you to showcase yours products or cool innovation you're company has been working on. It's also a great time to spot talent and find the brightest minds out there.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="fas fa-comments"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Socialize</h4>
            <p>Meet other recruiters, speakers and industry professionals looking to expand their horizons or share knowledge. The CUSEC experience offer knowledge sharing opportunities.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>









<div class="section">
  <div class="col-md-8 ml-auto mr-auto text-center">
    <h2 class="title">Our Past Sponsors</h2>
    <h3>Join a growing community of dynamic companies that shape the tech industry every day.</h3>
  </div>

  <div class="container">
    <div class="row example-page">
      <div class="col-md-5 ml-auto mr-auto text-center">
        <a href="http://www-03.ibm.com/employment/index.shtml" target="_blank"><img src="assets/img/companies/G/IBM/ibm.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 60%"></a>
      </div>
      <div class="col-md-4 ml-auto mr-auto text-center">
        <a href="https://www.cae.com" target="_blank"><img src="assets/img/companies/G/CAE/cae.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 65%; padding-top:6%; padding-right: 4%;"></a>
      </div>
    </div>
    <br>

    <div class="row example-page">
      <div class="col-md-4 text-center">
        <a href="https://www.morganstanley.com" target="_blank"><img src="assets/img/companies/G/MS/ms.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.cse-cst.gc.ca/en" target="_blank"><img src="assets/img/companies/G/CSE/cse.png" alt="Rounded Image" class=" img-responsive" style="width: 100%; padding-top:23%;"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.kinaxis.com/en" target="_blank"><img src="assets/img/companies/G/Kinaxis/kinaxis_one.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%"></a>
      </div>
    </div>
    <br>

    <div class="row example-page">
      <div class="col-md-4 text-center">
        <a href="https://www.rbcroyalbank.com" target="_blank"><img src="assets/img/companies/G/RBC/RBC.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 50%"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.windriver.com/" target="_blank"><img src="assets/img/companies/G/Windriver/wind.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 70%"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.yelp.ca" target="_blank"><img src="assets/img/companies/G/Yelp/yelp_1.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 80%"></a>
      </div>
    </div>
    <br>

    <div class="row example-page">
      <div class="col-md-3 text-center">
        <a href="https://www.capitalone.ca" target="_blank"><img src="assets/img/companies/B/capital/capital.png" alt="" class="img-rounded img-responsive" style="width: 90%"></a>
      </div>
      <div class="col-md-3 text-center">
        <a href="https://www.sap.com" target="_blank"><img src="assets/img/companies/B/sap/sap.png" alt="" class="img-rounded img-responsive" style="width: 80%"></a>
      </div>
      <div class="col-md-3 text-center">
        <a href="https://www.shopify.ca" target="_blank"><img src="assets/img/companies/B/shopify/shopify.png" alt="" class="img-rounded img-responsive" style="width: 100%"></a>
      </div>
      <div class="col-md-3 text-center">
        <a href="https://www.ubisoft.com" target="_blank"><img src="assets/img/companies/B/ubisoft/ubisoft.png" alt="" class="img-rounded img-responsive" style="width: 50%"></a>
      </div>
    </div>
    <br>

    <div class="col-md-10 ml-auto mr-auto text-center">
      <h3 class="title">Don't see <strong>your company</strong> up there? <strong>Reach out to us</strong>, we can fix that.</h3>
      <a href="mailto:sponsor@cusec.net" class="btn btn-info btn-round" style="margin-right:1%;">Get in Touch <i class="fas fa-envelope"></i></a>
    </div>

  </div>
</div>