<div class="page-header section-dark" style="background-image: url('assets/img/other/sponsor-landing.png')">
  <div class="container text-center">
    <h2><i class="fas fa-envelope-open"></i></h2>
    <h2 class="main-title">Welcome to CUSEC</h2>
    <br>
    <p><span style="font-size: 15pt;">Dear Sponsors,</span> we would like to invite you to join us at CUSEC 2019, Canada's Annual Software Engineering Conference, hosted annually in the heart of Montreal. The Canadian University Software Engineering
      Conference
      (CUSEC) is an annual event that brings students from across the country together to learn, network, and talk about software. Started in 2002 by students with a passion for software, hosted in the heart of Montreal, CUSEC has grown over 16
      years
      and now proudly hosts over 500 students from universities all across the nation. When you attend our event, all of Canada becomes your audience.</p>

    <br>
    <a class="btn btn-danger btn-round control" style="color:#FFFFFF;">Tell me more <i class="fas fa-arrow-circle-down"></i></a>
    <a href="mailto:sponsor@cusec.net?subject=Sponsorship_Opportunity" class="btn btn-info btn-round" style="margin-right:1%;">Get in Touch <i class="fas fa-envelope"></i></a>
  </div>
</div>

<div id="whycusec" class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">What you gain from CUSEC</h2>
        <h5>CUSEC isn’t just an event for students and professional, it’s an event for you as well. As a sponsor, we will work closely with you to ensure that you get the most out of the 3 day experience. We want you to get the most out of CUSEC and
          join us in making the best tech conference experience possible.
          We have created a sponsorship package tailored to offer a wide range of services for brand building and recruitment and if you have any questions, please feel free to reach out to us at <a href="mailto:sponsor@cusec.net?subject=Sponsorship_Opportunity"
            data-toggle="tooltip" data-placement="bottom" title="Best Way to Reach Us!">sponsor@cusec.net</a>.
          We look forward to hearing from you to make CUSEC 2019 the best one yet. </h5>
        <br>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="fab fa-hooli"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Branding</h4>
            <p class="description">Amazing way to create rapport with tech students and professionals and promote your brand along with the values of your company. </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="fas fa-users"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Recruitment</h4>
            <p>You will have 3-day access to more than 500 tech students and leaders. It truly is an outstanding opportunity to meet with our first-class talent and fill your internship and new graduate positions.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="fas fa-chalkboard"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Workshops & APIs</h4>
            <p>Workshops will allow you to showcase yours products or cool innovation you're company has been working on. It's also a great time to spot talent and find the brightest minds out there.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-danger">
            <i class="fas fa-comments"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Network</h4>
            <p>Meet other recruiters, speakers and industry professionals looking to expand their horizons or share knowledge. The CUSEC experience offer knowledge sharing opportunities.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="section">
  <div class="col-md-8 ml-auto mr-auto text-center">
    <h2 class="title"><i class="fas fa-users"></i> Our Sponsors</h2>
    <h3>CUSEC is only possible with the support and outstanding commitment of our amazing sponsors</h3>
  </div>

  <div class="container">
    <div class="row example-page">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <a href="https://www.kinaxis.com/en/careers" target="_blank"><img src="assets/img/companies/current/p/kinaxis/kinaxis.png" alt="Kinaxis Logo" class="img-rounded img-responsive img-padded" style="width: 70%"></a>
      </div>
    </div>
    <br>

    <div class="row example-page">
      <div class="col-md-4 text-center">
        <a href="https://www.morganstanley.com/people/experienced-professionals" target="_blank"><img src="assets/img/companies/current/g/ms/ms.png" alt="Morgan Stanley Logo" class="img-rounded img-responsive img-padded" style="width: 100%; padding-top:24%;"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://jobs.rbc.com/ca/en/" target="_blank"><img src="assets/img/companies/current/g/rbc/rbc.png" alt="RBC Logo" class="img-responsive img-padded" style="width: 45%; padding-top:23%;"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.yelp.ca/careers/job-openings" target="_blank"><img src="assets/img/companies/current/g/yelp/yelp.png" alt="Yelp Logo" class="img-rounded img-responsive img-padded" style="width: 100%"></a>
      </div>
    </div>
    <br>

    <div class="row example-page">
      <div class="col-md-4 text-center">
        <a href="https://jobs.jobvite.com/windriver/" target="_blank"><img src="assets/img/companies/current/g/windriver/windriver.png" alt="windriver Logo" class="img-rounded img-responsive img-padded" style="width: 50%; padding-top:3%;"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.shopify.ca/careers" target="_blank"><img src="assets/img/companies/current/g/shopify/shopify.png" alt="Shopify Logo" class="img-rounded img-responsive img-padded" style="width: 60%; padding-top:4%;"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.ibm.com/ca-en/" target="_blank"><img src="assets/img/companies/current/g/ibm/ibm.png" alt="IBM Logo" class="img-rounded img-responsive img-padded" style="width: 60%"></a>
      </div>
    </div>
    <br>

    <div class="row example-page">
      <div class="col-md-3 text-center"></div>
      <div class="col-md-6 text-center">
        <a href="https://www.cse-cst.gc.ca/en/careers-carrieres/professionals-professionnels/opportunities" target="_blank"><img src="assets/img/companies/current/g/cse/cse.png" alt="CSE Logo" class="img-responsive img-padded" style="width: 100%; padding-top:10%;"></a>
      </div>
      <div class="col-md-3 text-center"></div>
    </div>
    <br>

    <div class="row example-page">
      <div class="col-md-4 text-center">
        <a href="https://www.qlik.com/us/company/careers/job-listings" target="_blank"><img src="assets/img/companies/current/s/qlik/qlik.png" alt="" class="img-rounded img-responsive" style="width: 50%; padding-top:20%;"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.ubisoft.com/en-us/careers/experience.aspx" target="_blank"><img src="assets/img/companies/current/s/ubisoft/ubisoft.png" alt="" class="img-rounded img-responsive" style="width: 50%; padding-top:3%;"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.fellow.app/" target="_blank"><img src="assets/img/companies/current/s/fellow/fellow.png" alt="" class="img-rounded img-responsive" style="width: 50%; padding-top:20%;"></a>
      </div>
    </div>
    <br>


    <div class="row example-page">
      <div class="col-md-2 text-center"></div>
      <div class="col-md-4 text-center">
        <a href="https://careers.tripadvisor.com/" target="_blank"><img src="assets/img/companies/current/s/tripadvisor/tripadvisor.png" alt="Tripadvisor Logo" class="img-rounded img-responsive" style="padding-top:3%;"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.amazon.jobs/en" target="_blank"><img src="assets/img/companies/current/s/aws/aws.png" alt="AWS Logo" class="img-rounded img-responsive" style="padding-top:5%; padding-left:3%;"></a>
      </div>
      <div class="col-md-2 text-center"></div>
    </div>
    <br>

    <div class="row example-page">
      <div class="col-md-4 text-center">
        <a href="https://www.elementai.com/careers" target="_blank"><img src="assets/img/companies/current/s/elementai/elementai.png" alt="elementai Logo" class="img-rounded img-responsive img-padded" style="width: 100%; padding-top:0%;"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.netgovern.com/" target="_blank"><img src="assets/img/companies/current/s/netgovern/netgovern.jpg" alt="Netgovern Logo" class="img-responsive" style="width: 60%; padding-top:23%;"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.kn0x.io" target="_blank"><img src="assets/img/companies/current/s/knox/knox.png" alt="Knox Logo" class="img-responsive" style="width: 50%; padding-top:18%;"></a>
      </div>
    </div>
    <br>

    <div class="row example-page">
      <div class="col-md-4 text-center">
        <a href="https://www.spiria.com/en/career/" target="_blank"><img src="assets/img/companies/current/b/spiria/spiria.png" alt="Spiria Logo" class="img-rounded img-responsive img-padded" style="width: 50%; padding-top:5%;"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.diffagency.com/pages/careers" target="_blank"><img src="assets/img/companies/current/b/diff/diff.png" alt="Diff Logo" class="img-rounded img-responsive" style="width: 30%;"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.nokia.com/about-us/careers/" target="_blank"><img src="assets/img/companies/current/f/nokia/nokia.png" alt="" class="img-rounded img-responsive" style="width: 50%"></a>
      </div>
    </div>
    <br>

    <!-- <div class="row example-page"> -->
    <!-- <div class="col-md-2"></div> -->
    <!-- <div class="col-md-4 text-center">
        <a href="https://www.diffagency.com/pages/careers" target="_blank"><img src="assets/img/companies/current/b/diff/diff.png" alt="Diff Logo" class="img-rounded img-responsive" style="width: 30%;"></a>
      </div> -->
    <!-- <div class="col-md-4 text-center">
        <a href="https://uwaterloo.ca/math-endowment-fund/" target="_blank"><img src="assets/img/companies/current/b/uwaterloo/mef.png" alt="MEF Logo" class="img-rounded img-responsive img-padded" style="width: 40%; padding-top: 3%"></a>
      </div> -->
    <!-- <div class="col-md-2"></div> -->
    <!-- <div class="col-md-4 text-center">
        <a href="https://www.nokia.com/about-us/careers/" target="_blank"><img src="assets/img/companies/current/f/nokia/nokia.png" alt="" class="img-rounded img-responsive" style="width: 50%"></a>
      </div> -->
    <!-- </div> -->
    <!-- <br> -->
    <br>
    <br>

    <div class="col-md-10 ml-auto mr-auto text-center">
      <h3 class="title">Don't see <strong>your company</strong> up there? <strong>Reach out to us</strong>, we can fix that.</h3>
      <a href="mailto:sponsor@cusec.net?subject=Sponsorship" class="btn btn-info btn-round" style="margin-right:1%;">Email Us <i class="fas fa-envelope"></i></a>
    </div>

  </div>
</div>

<!--
<div class="section">
  <hr>
  <br>
  <div class="col-md-8 ml-auto mr-auto text-center">
    <h2 class="title">Our Past Sponsors</h2>
    <h3>CUSEC has a legacy of delivering a high-quality environment where employers get to meet some of the brightest minds shaping technology today. For 16 years, our sponsors have seen the value in supporting student-led events and have come back,
      year after year. Join our growing community of companies making the CUSEC dream a reality, today.</h3>
  </div>

  <div class="container">
    <div class="row example-page">
      <div class="col-md-5 ml-auto mr-auto text-center">
        <a href="http://www-03.ibm.com/employment/index.shtml" target="_blank"><img src="assets/img/companies/past/G/IBM/ibm.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 60%"></a>
      </div>
      <div class="col-md-4 ml-auto mr-auto text-center">
        <a href="https://www.cae.com" target="_blank"><img src="assets/img/companies/past/G/CAE/cae.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 65%; padding-top:6%; padding-right: 4%;"></a>
      </div>
    </div>
    <br>

    <div class="row example-page">
      <div class="col-md-4 text-center">
        <a href="https://www.morganstanley.com" target="_blank"><img src="assets/img/companies/past/G/MS/ms.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.cse-cst.gc.ca/en" target="_blank"><img src="assets/img/companies/past/G/CSE/cse.png" alt="Rounded Image" class=" img-responsive" style="width: 100%; padding-top:23%;"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.kinaxis.com/en" target="_blank"><img src="assets/img/companies/past/G/Kinaxis/kinaxis_one.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%"></a>
      </div>
    </div>
    <br>

    <div class="row example-page">
      <div class="col-md-4 text-center">
        <a href="https://www.rbcroyalbank.com" target="_blank"><img src="assets/img/companies/past/G/RBC/RBC.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 50%"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.windriver.com/" target="_blank"><img src="assets/img/companies/past/G/Windriver/wind.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 70%"></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.yelp.ca" target="_blank"><img src="assets/img/companies/past/G/Yelp/yelp_1.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 80%"></a>
      </div>
    </div>
    <br>

    <div class="row example-page">
      <div class="col-md-3 text-center">
        <a href="https://www.capitalone.ca" target="_blank"><img src="assets/img/companies/past/B/capital/capital.png" alt="" class="img-rounded img-responsive" style="width: 90%"></a>
      </div>
      <div class="col-md-3 text-center">
        <a href="https://www.sap.com" target="_blank"><img src="assets/img/companies/past/B/sap/sap.png" alt="" class="img-rounded img-responsive" style="width: 80%"></a>
      </div>
      <div class="col-md-3 text-center">
        <a href="https://www.shopify.ca" target="_blank"><img src="assets/img/companies/past/B/shopify/shopify.png" alt="" class="img-rounded img-responsive" style="width: 100%"></a>
      </div>
      <div class="col-md-3 text-center">
        <a href="https://www.ubisoft.com" target="_blank"><img src="assets/img/companies/past/B/ubisoft/ubisoft.png" alt="" class="img-rounded img-responsive" style="width: 50%"></a>
      </div>
    </div>

  </div>
</div> -->